

.achivements{

	margin-bottom: 5.0rem;

	&.archive{

		.listArea{
			li{
				display: inline-block;
				&:not(:last-of-type){
					&:after{
						margin-left: 0.2rem;
						margin-right: 0.2rem;
						color: rgba($black, .1);
						content: "|";
					}
				}
				a{
					color: $green;
				}
			}
		}
	}

	&.post{
		
		h2{
			margin-bottom: 1.0rem;
			padding-top: 0;
			text-align: left;
			&:before{
				background-color: transparent;
			}
			.title{
				font-size: $big;
				line-height: 1.5em;
			}
		}

		h3{
			font-size: $bigger;
		}

		h4{
			font-size: $normal * 1.2;
		}

		.contents{
			padding: 1.0rem;
		}

		.achiveContents{
			&:not(:first-of-type){
			
				margin-top: 3.0rem;
			}


		}

		#voices{
			dt{
				font-size: $normal * 1.2;
				margin-bottom: 1.0rem;
				&:before{
					margin-right: 0.5rem;
					font-family: icomoon;
					font-size: 90%;
					speak: none;
					content: "\e915";
				}
			}
			dd{
				&:not(:last-of-type){
					margin-bottom: 2.0rem;
					padding-bottom: 2.0rem;
					border-bottom: 1px solid rgba($black, .1);
				}
			}
		}

		//PC
		@media all and (min-width: $minWidth){

			.contents{
				padding: 5.0rem;
			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){

			.contents{
				margin-bottom: 1.0rem;
			}

		}


	}


	&#area{

		.municipalities{

			position: relative;

			h3{
			}
			h4{
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}

			img{
				&#staff{
					position: absolute;
					top: -80px;
					right: 0;
					width: 180px;
				}
				&#map{
					position: relative;
					margin-bottom: 1.0rem;
				}
			}

			table{
				th, td{
					border: 1px solid rgba($white, .5);
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
				th{
					background: rgba($black, .05);
					width: 20%;
				}
				td{
					a{
						&:not(:last-of-type){
							&:after{
								margin-left: 0.5rem;
								margin-right: 0.5rem;
								color: $gray;
								content: "|";
							}

						}
					}
				}
			}

			p{
				&.explains{
					margin-bottom: 1.0rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					padding-left: 0.5rem;
					padding-right: 200px;
					background-color: $gray;
				}

				b{
					font-weight: bold;
					color: $pink;
				}

			}

		}
	}



}


