@charset "UTF-8";

article{

//.icomoon
.icomoon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3rem;
	font-family: icomoon;
	font-size: 90%;
	speak: none;
}

//**********************************************************************
// General settings
//**********************************************************************

// .contents
//**********************************************************************

.contents{

	position: relative;
	padding: 3.0rem 0;
	&:not(:last-of-type){
		border-bottom: 1px solid rgba($black, .05);
	}

	//PC
	@media all and (min-width: $minWidth){
		padding: 5.0rem 0;
	}

}

//**********************************************************************
// h tag settings
//**********************************************************************

h2{
	position: relative;
	padding-top: 1.0rem;
	font-size: 18px;
	text-align: center;
	&:before{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -40px;
		width: 80px;
		height: 3px;
		content: "";
		background: $pink;
	}
}

h3{
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
	font-size: $big;
	line-height: 1.3em;

}

h4{
	margin-top: 2.0rem;
	margin-bottom: 2.0rem;
	font-size: $bigger;
}

h5{
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	font-size: $normal* 1.2;
	font-weight: bold;
}

h6{
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	font-size: $normal* 1.2;
}

//**********************************************************************
// &.archiveIndex
//**********************************************************************

.archiveIndex{

	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	border-top: 3px solid rgba($black, .1);
	border-bottom: 1px solid rgba($black, .1);
	text-align: center;

	//Mobile
	@media all and (max-width: $maxWidth){
		display: none;
	}

}

//Mobile
@media all and (max-width: $maxWidth){

	/*h3{
		text-align: center;
	}*/

}

//**********************************************************************
// .priceEx
//**********************************************************************

.priceEx{

	margin-bottom: 0;
	text-align: center;

	//li
	li{

		position: relative;
		@include border-radius(5px);
		border: 3px solid transparent;
		background: $white;

		//&:after
		&:after{
			z-index: 3;
			line-height: 42px;
			position: absolute;
			width: 42px;
			height: 42px;
			color: $green;
			font:{
				family: icomoon;
				size: $biggest * 1.4;
			}
			content: "\e80b";
		}
		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3){
			border-color: rgba($green, .7);
			cursor: pointer;
		}
		&:nth-of-type(3){
			&:after{
				color: #d3d3d3;
			}
		}
		&:nth-of-type(4){
			border-color: rgba($darkGray, .2);
			cursor: pointer;
			&:after{
				color: $pink;
				content: "\e83a";
				padding: 0 20px;
			}
		}
		&:nth-of-type(5){
			border-color: $pink;
			p{
				line-height: 1.0em;
				margin-top: 2.5rem !important;
				font-size: $biggest * 1.7;
			}
			&:after{ content: ""; }
		}

		//a
		a{
			display: block;
			color: $darkGray;
			text-decoration: none;
		}


		//span[class^="icon-"]
		span[class^="icon-"]{
			display: block;
			font-size: $biggest * 1.2;
		}

		//p
		p{
			&.title{
				font-size: $bigger;
			}
			.priceIndex{
				margin-right: 0.5rem;
			}
			.price{
				&:after{
					font-size: 80%;
					content: "円";
				}
			}
		}

	}

	// PC
	@media all and (min-width: $minWidth){


		//li
		li{

			vertical-align: top;
			height: 200px;

			&:after{
				top: 50%;
				right: -34px;
				margin-top: -21px;
			}
			&:nth-of-type(4){
				&:after{
					@include rotate(90deg);
					right: -55px;
					font-size: $biggest*2;
				}
			}

			//span[class^="icon-"]
			span[class^="icon-"]{
				margin-bottom: 1.0rem;
			}

			p{
				&.title{
					margin-top: 2.0rem;
					margin-bottom: 1.0rem;
					font-size: $bigger;
				}
			}

		}

	}

	// Mobile
	@media all and (max-width: $maxWidth){


		//li
		li{

			margin-bottom: 1.0rem;
			padding-bottom: 1.0rem;

			//&:after
			&:after{
				bottom: -32px;
				left: 50%;
				margin-left: -21px;
			}

			//&:nth-of-type(4)
			&:nth-of-type(4){
				&:after{
					left: 42%;
				}
			}

			//&:nth-of-type(5)
			&:nth-of-type(5){
				padding-bottom: 2.0rem;
			}


			p{
				&.title{
					margin-top: 1.5rem;
				}
			}

		}

	}

}

//**********************************************************************
// .customerProfile
//**********************************************************************

.customerProfile{

	// a
	//**************************************************************

	a{
		display: inline-block;
		vertical-align: middle;
		padding: 0.2rem 0.5rem;
		border: 1px solid rgba($black, .1);
		background: rgba($black, .05);
		font-size: 90%;
		@include border-radius(3px);
	}

	// ul
	//**************************************************************

	ul{

		li{

			display: inline-block;

			//&:not(:last-of-type)
			&:not(:last-of-type){
				margin-right: 0.5rem;
			}

		}

	}

	// dl
	//**************************************************************

	dl{

		//dt
		dt{

			vertical-align: middle;

			//&:before
			&:before{
				@extend .icomoon;
			}

			//.hide
			&.hide{ display: none; }


		}


		//dd
		dd{

			display: inline-block;
			vertical-align: middle;

			//&:not(:last-of-type)
			&:not(:last-of-type){
				margin-right: 0.5rem;
			}

			//&:before
			&:before{
				@extend .icomoon;
			}
			&.name{ &:before{ content: "\e919"; } }
			&.place{ &:before{ content: "\e8eb"; } }
			&.date{ &:before{ content: "\e64d"; } }

		}

	}


	// .index
	//**************************************************************

	.index{

		display: block;
		margin-top: 1.0rem;
		margin-bottom: 0.5rem;
		padding-top: 1.0rem;
		border-top: 1px dashed rgba($black, .1);
		font-size: $normal;
		text-align: left;

		&:before{ @extend .icomoon; }
		&.info{ &:before{ content: "\e954"; }}
		&.comments{ &:before{ content: "\e915"; }}
		&.items{ &:before{ content: "\e905"; }}

	}

}

//**********************************************************************
// &.article settings
//**********************************************************************

&.archive{


	// a
	//**************************************************************
	a{
		color: $green;
		text-decoration: none;
		&:hover{
			color: $pink;
		}
	}


	// .summary
	//**************************************************************

	.summary{

		padding-top: 3.0rem;
		padding-bottom: 3.0rem;
		font-size: $biggest;
		line-height: 1.2em;
		text-align: center;

		//Mobile
		@media all and (max-width: $maxWidth){

			font-size: $bigger;
			line-height: 1.5em;
			.block{
				display: inline !important;
			}

		}

	}


	// .contents
	//**************************************************************



}

//**********************************************************************
// &.post settings
//**********************************************************************

&.post{

	// a
	//**************************************************************
	a{
		color: $green;
		text-decoration: none;
		&:hover{
			color: $pink;
		}
	}

	// header
	//**************************************************************

	header{

		//.postNav
		.postNav{

			h2{
				display: none;
			}

			li{

				display: inline-block;

				//previous
				&:nth-of-type(1){
					&:before{
						margin-right: 0.3rem;
						font-family: icomoon;
						font-size: 90%;
						speak: none;
						content: "\e9d7";
					}
					&:after{
						margin: 0 0.5rem;
						content: "|";
					}
				}

				//next
				&:nth-of-type(2){
					&:after{
						margin-left: 0.5rem;
						font-family: icomoon;
						font-size: 90%;
						speak: none;
						content: "\e9d3";
					}
				}

			}

		}

	}


	// &#notices settings
	//**************************************************************

	&#notices{

		.container{
			max-width: $maxWidth;
		}

	}

	// #docs
	//**************************************************************

	&#docs{

		//.container
		.container{
			//max-width: $maxWidth;
		}

		//.col
		.col{

			//ol
			> ol{

				margin-left: 2.0rem;

				> li{

					&:before{ margin-right: 0.5rem; }
					&:nth-of-type(1):before{ content: "(1)"; }
					&:nth-of-type(2):before{ content: "(2)"; }
					&:nth-of-type(3):before{ content: "(3)"; }
					&:nth-of-type(4):before{ content: "(4)"; }
					&:nth-of-type(5):before{ content: "(5)"; }
					&:nth-of-type(6):before{ content: "(6)"; }
					&:nth-of-type(7):before{ content: "(7)"; }
					&:nth-of-type(8):before{ content: "(8)"; }
					&:nth-of-type(9):before{ content: "(9)"; }
					&:nth-of-type(10):before{ content: "(10)"; }

					> ol{

						margin-left: 3.0rem;

						> li{
							list-style-type: lower-alpha;
							> ol{
								margin-left: 4.0rem;
								>li{
									list-style-type: circle;
								}
							}
						}

					}

					> p{
						display: inline-block;
					}

				}

			}

			//ul
			> ul{

				margin-left: 2.0rem;

				> li{
					list-style-type: circle;
					> ul{
						margin-left: 3.0rem;

						>li{
							list-style-type: square;
						}
					}
				}

			}

			//dl
			> dl{
				margin-left: 2.0rem;
			}

		}

	}

}


//**********************************************************************
// &.columns settings
//**********************************************************************

&.columns{
}



}