@charset "UTF-8";

article.campaign{

//**********************************************************************
// .contents
//**********************************************************************

.contents{

	// h3
	//**************************************************************

	h3{

		text-align: center;

		//+p
		+p{
			margin-top: 1.0rem;
			margin-bottom: 2.0rem;
		}

	}

	// .obj
	//**************************************************************

	.obj{

		position: relative;
		font-size: 90%;
		text-align: center;

		//:before
		&:before{
			display: block;
			z-index: 4;
			width: 90px;
			height: 90px;
			margin: 0 auto;
			background:{
				repeat: no-repeat;
				size: 100%;
			}
			content: "";
		}

		//span
		span{
			display: block;
			position: relative;
			z-index: 5;
			margin-top: -53px;
			margin-bottom: 53px;
		}

	}

}


//**********************************************************************
// campIntro
//**********************************************************************

.campIntro{

	// .details
	//**************************************************************

	.details{

		padding: 3.0rem 0 !important;

		//h3
		h3{
			font-size: 100% !important;
			text-align: left !important;
			font-weight: normal !important;
		}

		//table
		table{
			margin-bottom: 1.0rem;
			font-size: 90%;
			tr{
				margin-bottom: 0;
			}
			th{
				background: rgba($black, .02);
			}
			th, td{
				padding: 0.5rem;
				border: 1px solid rgba($black, .1);
			}
			//table dt,dd
			dt, dd{
				display: inline-block;
				float: left;
			}
			dt{
				position: relative;
				clear: left;
				font-weight: bold;
				&:after{
					padding: 0 0.5rem;
					content: " : ";
				}
			}
		}

		//.expl
		.expl{
			margin: 0.5rem 0 1.5rem 0;
			font-size: 32px;
			line-height: 1.5em;
			span{
				padding:{
					left: 0.3rem;
					right: 0.3rem;
				}
				//PC
				@media all and (min-width: $minWidth){
					display: inline-block;
				}
			}
		}

	}

}

//**********************************************************************
// .campFlow
//**********************************************************************

.campFlow{

	padding: 4.0rem 0;
	background:{
		image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///+vZ4TxwRxGxkawAIwDYjMic0ACAAAGD4GiFX/4AAAAAElFTkSuQmCC) !important;
		repeat: repeat !important;
		color: $yellow !important;
	}

	// ul
	//**************************************************************

	ul{

		text-align: center;

		//li
		li{
			position: relative;
			width: 265px;
			padding: 1.5rem 1.0rem;
			@include box-sizing(border-box);
			@include border-radius(6px);
			background: $white;
			vertical-align: top;
			.icon{
				display: block;
				color: $green;
				font-size: 64px;
				line-height: 1.0em;

			}
			.title{
				font:{
					size: 18px;
					weight: bold;
				}
				line-height: 3.0em;
			}

			//PC
			@media all and (min-width: $minWidth){

				display: inline-block;
				&:not(:last-of-type){
					margin-right: 2.0rem;
					&:after{
						position: absolute;
						@include arrow(110px, "", "", -2.3rem, 10px, $white, left)
					}
				}

			}

			//Mobile
			@media all and (max-width: $maxWidth){

				display: block;
				margin: 0 auto;
				&:not(:last-of-type){
					margin-bottom: 2.0rem;
					&:after{
						position: absolute;
						@include arrow("", -2.1rem, 120px, "", 10px, $white, top)
					}
				}

			}

		}
		
	}

	// .obj
	//**************************************************************
	
	.obj{
		&:before{
			background-image: url("assets/img/campaign/1404/icon_flower_white.png");
		}		
	}

}

//**********************************************************************
// .voices
//**********************************************************************


.voices{

	padding: 5.0rem 0;
	background:{
		image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2O8e/fuZgYcgBEkqays7ItNftBJAgDPQBtSEgYkLAAAAABJRU5ErkJggg==) !important;
		repeat: repeat !important;
		color: $gray !important;
	}

	// .voices
	//**************************************************************

	.voice{
		margin-top: 5.0rem;
		margin-bottom: 2.0rem;
		padding-top: 2.0rem;
		padding-bottom: 2.0rem;
		border-top: 1px solid rgba($black, .1);

		//h4
		h4{
			margin:{
				top: 2.0rem;
				bottom: 1.0rem;
			}
			font-size: 32px;
			line-height: 1.3em;
			color: $green;
			text-align: center;
			&:before{ content: "“"; }
			&:after{ content: "”"; }
		}

		//h4
		h5{
			display: inline-block;
			background: $green;
			color: $white;
			font-size: 18px;
			margin: 1.0rem 0;
			padding: 0.5rem 1.0rem;

		}

		//.img
		.img{
			width: 265px;
			height: 265px;
			overflow: hidden;
			@include border-radius(50%);
		}

	}

	// .obj
	//**************************************************************
	
	.obj{
		&:before{
			background-image: url("assets/img/campaign/1404/icon_flower_yellow.png");
		}		
	}

}


//**********************************************************************
// .about
//**********************************************************************

.about{

	padding: 5.0rem 0;
	background:{
		image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC);
		repeat: repeat;
		color: $green;
	}

	// .obj
	//**************************************************************
	
	.obj{
		&:before{
			background-image: url("assets/img/campaign/1404/icon_flower_white.png");
		}		
	}

}

}


//**************************************************************************
//**************************************************************************
//**************************************************************************
//**************************************************************************


//**********************************************************************
// .mainVisual
//**********************************************************************

.mainVisual{

	position: relative;
	max-width: 930px;
	margin: 0 auto;

	#sliderCampaignNews &,
	article#campaign &{
		overflow: hidden;
		height: 400px;
	}

	
}


//**************************************************************************
// #camp1404-00
//**************************************************************************

#camp1404-00{

	background: $white;
	padding-top: 0;


	// .mainVisual
	//******************************************************************

	.mainVisual{

		position: relative;

		//h2
		h2{
			display: none;
		}

		//img
		img{
			max-height: 90%;
		}

		//.campVisual
		.campVisual{
			padding: 1.5rem;
		}

		//Mobile
		@media all and (max-width: $maxWidth){
			img{
				display: block;
				margin: 0 auto;
			}
		}
		
	}

	// .details
	//******************************************************************

	.details{

		padding-top: 3.0rem;
		background: $white;

		//span
		span{
			padding: 0.2rem 0.3rem;
		}

		//dd
		table{
			dt, dd{
				display: block !important;
				float: inherit !important;
			}
			dt{
				&:after{
					content: "" !important;
				}
			}
		}

	}
		
	//PC
	@media all and (min-width: $minWidth){

		background:{
			image: url("assets/img/campaign/1404/campIntro_bg.jpg");
			repeat: no-repeat;
			position: center top;
		}

		//#sliderCampaignNews
		#sliderCampaignNews &{

			.mainVisual{

				position: relative;
				background-image: none;
				background-color: $yellow !important;

				//.campVisual
				.campVisual{

					width: 100%;
					height: 100%;

					img{
						position: absolute;
						width: 400px;
						top: 50%;
						left: 50%;
						margin-top: -180px;
						margin-left: -200px;
					}

				}

			}
		}

		//#achiveCampaign &
		#achiveCampaign &{

			//.campVisual
			.campVisual{

				width: 100%;
				height: 100%;

				img{
					position: absolute;
					width: 400px;
					top: 50%;
					left: 5%;
					margin-top: -180px;
				}

			}

		}

		//.detalis	
		.details{
			table{
				th{
					width: 10%;
				}
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		background:{
			image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///+vZ4TxwRxGxkawAIwDYjMic0ACAAAGD4GiFX/4AAAAAElFTkSuQmCC);
			repeat: repeat;
			color: $yellow;
		}

		//#sliderCampaignNews
		#sliderCampaignNews &,
		#achiveCampaign &{

			//.campVisual
			.campVisual{

				img{
					position: absolute;
					width: 270px;
					top: 50%;
					left: 50%;
					margin-top: -130px;
					margin-left: -135px;
					
				}

			}

		}

	}

}

//**************************************************************************
// .camp1405
//**************************************************************************

.camp1405{


	// .mainVisual
	//******************************************************************
	
	.mainVisual{

		background: $darkBlue;
		text-align: center;

		//img
		img{
			display: block;
			margin: 0 auto;
		}

		//#campName
		#campName{
			padding: 50px 1.0rem;
		}

		//#campExpl
		#campExpl{
			position: relative;
			padding: 2.0rem 1.0rem;
			background: $pink;
		}

		//PC
		@media all and (min-width: $minWidth){

			#campName{
				padding:{
					top: 100px;
					bottom: 200px;
				}
			}
			#campExpl{
				min-height: 80px;
				img{
					position: absolute;
					top: 0;
					left: 50%;
					margin-top: -100px;
					margin-left: -290px;
				}
				#icons{
					position: absolute;
					left: 50%;
					bottom: 0;
					width: 580px;
					margin:{
						bottom: -10px;
						left: -305px;
					}
					color: #f0f0f0;
					font-size: 64px;
				}
			}
		}

		//Mobile
		@media all and (max-width: $maxWidth){

			#campExpl{
				#icons{
					display: none;
				}
			}

		}

	}

	// .details
	//******************************************************************

	.details{

		// h3, .expl
		h3, .expl{
			text-align: center !important;
			@media all and (max-width: $maxWidth){
				.block{
					display: inline !important;
				}
			}
		}
		
	}

}


//**************************************************************************
// #camp1406-00
//**************************************************************************

#camp1406-00{

	$blue1406 : #30a9dd;
	$white1406 : #fdface;

	background:{
		image: url("assets/img/campaign/1406/00_bg.gif");
		repeat: repeat;
	}

	// .mainVisual
	//**************************************************************
	
	.mainVisual{

		position: relative;

		//.campVisual
		.campVisual{

			position: relative;
			z-index: 2;

			//.topic
			.topic{
				display: block;
				position: relative;
				margin-bottom: 1.0rem;
				padding-top: 1.0rem;
				text-align: center;
				&:after{
					display: block;
					position: absolute;
					left: 50%;
					bottom: -40px;
					width: 0;
					height: 0;
					margin-left: -17px;
					border: 20px solid transparent;
					border-top-color: $pink;
					content: "";
				}
				.txt{
					display: inline-block;
					padding: 1.0rem;
					@include border-radius(3px);
					background: $pink;
					color: $white1406;
					letter-spacing: 0.1rem;
				}
				
			}

			//.col
			.col{
				color: $blue1406;
				font:{
					size: $biggest * 3.8;
					weight: bold;
				}
				line-height: 1em;
				@include text-shadow(10px 10px 0px $white1406);
			}

			//PC
			@media all and (min-width: $minWidthBig){
				//.col
				.col{
					font-size: $biggest * 5;
				}
			}

			//PC
			@media all and (min-width: $minWidth){

				//img
				img{
					position: absolute;
					top: 6.0rem;
					left: 50%;
					margin-left: -140px;
				}

				//.col
				.col{
					padding-top: 5.0rem;
					padding-bottom: 7.0rem;
					font:{
					}
					&.last{
						text-align: right !important;
					}
				}

			}

			//Mobile
			@media all and (max-width: $maxWidth){

				text-align: center;
				padding-bottom: 3.0rem;
	
				//img
				img{
					display: block;
					margin:{
						top: 1.0rem;
						left: auto;
						right: auto;
						bottom: 2.0rem;
					}
				}

				//#sliderCampaignNews
				#sliderCampaignNews &{
					padding-top: 1.0rem;
					img{
						display: none;
					}
				}

			}

		}
	}


	// .details
	//******************************************************************

	.details{

		background: rgba($white1406, .8);

		//bg_blue
		.bg_blue{
			background: $blue1406 !important;
		}

	}

	// .raindrop
	//******************************************************************

	.raindrop{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background: #79dbfc;
		border-radius: 0px 5px 5px 5px;
		transform: rotate(45deg);

		@for $i from 1 through 40{
			&#drop#{$i}{
				top: random(500) + px;
				left: random(930) + px;
			}
		}
	}

}


//**************************************************************************
// #camp1406-01
//**************************************************************************

#camp1406-01{


	$white1406-01: #f3efd9;
	$brown1406-01: #211513;

	overflow: hidden;
	background: $white1406-01;

	// h2
	//******************************************************************

	h2{
		position: relative;
		z-index: 7;
	}

	// .campVisual
	//******************************************************************

	.campVisual{

		//#sunflower
		#sunflower{
			position: absolute;
			z-index: 1;
		}

		//#appealPoints
		#appealPoints{
			position: relative;
			z-index: 2;
			padding-top: 7.0rem;
			#title{
				color: $brown1406-01;
				font-size: $biggest * 1.8;
				line-height: 1.1em;
				letter-spacing: -0.5rem;
				@include text-shadow(2px 2px 0px $white1406-01);
			}
			.point{
				margin-top: 0.5rem;
				padding: 0.7rem 1.0rem;
				font-size: $normal * 1.2;
				letter-spacing: 0.1rem;
				&#point1{
					background: $brown1406-01;
					color: $pink;
				}
				&#point2{
					background: $pink;
					color: $white;
				}
			}
		}

		//#appealImg
		#appealImg{
			
			position: relative;
			overflow: hidden;
			height: 400px;

			.icon-golfbag{
				position: absolute;
				font-size: 600px;
				&#above{
					display: block;
					z-index: 2;
					top: 2.0rem;
					left: 50%;
					margin-left: -80px;
					color: $brown1406-01;
				}
				&#below{
					z-index: 1;
					top: 3.0rem;
					left: 50%;
					margin-left: -60px;
					color: rgba($brown1406-01, .1);
				}
			}

			#sale{
				position: absolute;
				z-index: 5;
				top: 8.0rem;
				left: 50%;
				width: 150px;
				height: 150px;
				margin-left: -140px;
				padding-top: 2.0rem;
				border: 10px solid;
				@include border-radius(50%);
				@include box-sizing(border-box);
				color: $pink;
				text-align: center;
				span{
					@include text-shadow(1px 1px 0px $white1406-01);
					@include rotate(-5deg);
					&#max{
						font-size: $bigger;
					}
					&#amount,
					&#off{
						font-size: $big;
						line-height: 1.0em;
						font-weight: bold;
					}
				}
			}
		}


		//PC
		@media all and (min-width: $minWidth){

			#sunflower{
				top: 0;
				right: 0;
				margin-top: -200px;
				margin-right: -50px;
			}
			#appealImg{
				width: 35%;
				float: left;
			}
			#appealPoints{
				width: 65%;
				float: right;
				@include box-sizing(border-box);

				//#sliderCampaignNews
				#sliderCampaignNews &{
					padding-right: 1.0rem;
				}

				#title{
					span{
						&:nth-of-type(2), 
						&:nth-of-type(3){
							display: inline-block !important;
						}
					}
				}
			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){


			#sunflower{
				width: 150px;
				top: 10px;
				left: 50%;
				margin-left: -75px;

				//#sliderCampaignNews
				#sliderCampaignNews &{
					@include opacity(.9);
				}
			}

			#appealPoints{
				padding-bottom: 3.0rem;
				#title{
					text-align: center;
				}
				.point{
					text-align: center;
				}

				//#sliderCampaignNews
				#sliderCampaignNews &{
					padding-top: 2.0rem;
				}

			}

			#appealImg{
				display: none;
			}

		}

	}

	// .leaf
	//******************************************************************
	
	.leaf{
		display: inline-block;
		position: absolute;
		width: 25px;
		height: 25px;
			-moz-border-radius: 25px 0px;
			-webkit-border-radius: 25px 0px;
			border-radius: 25px 0px;
			@include opacity(50);
		@for $i from 1 through 5{
			&#leaf#{$i}{
					background-color: $yellow; 
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(45)+deg);
			}
		}
		@for $i from 6 through 10{
			&#leaf#{$i}{
				background-color: #FFF84B;
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(-45)+deg);
			}
		}
		@for $i from 11 through 15{
			&#leaf#{$i}{
					background-color: $green; 
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(90)+deg);
			}
		}
		@for $i from 16 through 20{
			&#leaf#{$i}{
				background-color: $pink;
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(-90)+deg);
			}
		}
	}

	// .details
	//******************************************************************

	.details{
		background: rgba($yellow, .8);
	}


}

//**************************************************************************
// #camp1406-02, #camp1406-03
//**************************************************************************

#camp1406-02,
#camp1406-03{

	$green1406-02: #21B049;
	$yellow1406-02: #F2C103;
	$blue1406-02 : #1B3884;

	position: relative;
	background:{
		image: url(assets/img/campaign/1406/03_bg.gif);
		size: 180px;
		repeat: repeat-y;
		position: right top;
		color: $white;
	} 

	// .campVisual
	//******************************************************************

	.campVisual{

		width: 290px;
		max-width: 290px;
		margin: 0 auto;
		padding: 4.0rem 0;

		//.appealTitle
		.appealTitle{

			position: relative;
			z-index: 2;
			margin-bottom: 1.0rem;
			color: $darkGray;
		
			.title{
				font-size: $bigger;
				font-weight: bold;
				line-height: 1.0em;
				@include text-shadow(3px, 3px, 0px, $white);
			}
		}

		//.appealContent
		.appealContent{

			position: relative;
			z-index: 2;
			color: $darkGray;

			.point1{
				.block{
					display: inline-block !important;
					margin-bottom: 0.5rem;
					padding: 0.3rem 1.0rem;
					color: $white;
					font-size: $biggest;
					font-weight: bold;
					line-height: 1.3em;
					background: $green1406-02;
				}
			}
			.point2{
				display: inline-block !important;
				margin-bottom: 0.5rem;
				background: $yellow1406-02;
				padding: 0.3rem 1.0rem;
			}
			.point3{

				display: inline-block !important;
				margin-bottom: 0.5rem;
				padding: 0.3rem 1.0rem;
				background: $blue1406-02;
				color: $white;
				margin-bottom: 0.5rem;
			}
			
		}

	}

	//PC
	@media all and (min-width: $minWidth){

		background-size: 400px;

		//.camVisual
		.campVisual{

			padding-bottom: 5.0rem;

			.appealTitle{
				.world-cup{ font-size: $bigger }
				.title{ font-size: $big; }
			}

			.appealContent{
				.point1{
					.block{ font-size: $biggest; }
				}
				.point2{
					font-size: $normal;
				}
			}
			
		}

	}

	// .ball
	//******************************************************************
	
	.ball{
		display: inline-block;
		position: absolute;
		z-index: 1;
		font-size: 50px;
			color: $black; 
			@include opacity(.3);
		@for $i from 1 through 5{
			&#ball#{$i}{
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(45)+deg);
			}
		}
		@for $i from 6 through 10{
			&#ball#{$i}{
				top: random(500) + px;
				left: random(930) + px;
				@include rotate(random(-45)+deg);
			}
		}
	}

	// .details
	//******************************************************************

	.details{

		background: $blue1406-02;
		color: $white;

		//a
		a{
			color: $yellow1406-02;
			&:hover{
				color: $white;
			}
		}

		//.footnote
		.footnote{
			color: rgba($white, .8);
		}

	}

}

//**************************************************************************
// #camp1407-00
//**************************************************************************

#camp1407-00{

	background:{
		color: $darkBlue;
		image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYV2NkIAIwElLz//9/SbyKwAoYGZ8TNAlkE1ZFMBNgTsFQhK4Ap0nonoGbhM0EFOvwKQApBAC4jBcgvUbaUQAAAABJRU5ErkJggg==);
		repeat: repeat;
	}

	h2{
		position: relative;
		z-index: 3;
		color: $white;
	}

	.vertical{
		-webkit-writing-mode: vertical-rl;
		-moz-writing-mode: vertical-rl;
		-ms-writing-mode: vertical-rl;
		-o-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		color: $white;
	}

	.campVisual{

		padding: 5.0rem 0;

		#appealImg{

		display: block;
		position: relative;
		z-index: 5;

		.appealTitle{

			margin: 1.0rem auto;
			@extend .vertical;
			font-size: $big;

			p{
				margin: 0 auto;
				span{
					display: block;
					&.paper{
						position: relative;
						padding-top: 3.0rem;
						padding-right: 1.5rem;
						padding-bottom: 1.5rem;
						padding-left: 1.5rem;
						font-size: $biggest;
						line-height: 1.3em;
						@include box-shadow(2px 2px 2px rgba($black, .3));
						&.greenPaper{
							margin-right: 2.0rem;
							margin-top: -1.5rem;
							margin-bottom: 2.5rem;
							background: $green;
							@include rotate(-5deg);
						}
						&.pinkPaper{
							margin-right: 2.5rem;
							margin-top: 1.0rem;
							background: $pink;
							@include rotate(5deg);
						}
						.icon-star3{
							position: absolute;
							top: 1.0rem;
							left: 50%;
							margin-left: -4px;
							color: $darkBlue;
							font-size: 12px;
						}
					}
				}
			}

		}


		.appealDetails{

			margin: 1.0rem auto;
			@extend .vertical;
			@include text-shadow(1px 1px 0px $darkBlue);


		}

		#spShow{
			display: none;
		}


		//PC
		@media all and (min-width: $minWidth){

			height: 400px;

			.appealTitle{
				position: absolute;
				right: 150px;
			}

			.appealDetails{
				position: absolute;
				left: 150px;
				font-size: $biggest;
				line-height: 1.3em;
			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){

			.appealDetails{
				padding-top: 3.0rem;
				height: 320px;
				font-size: $big * 1.1;
				line-height: 1.3em;
			}

		}



		}

		//PC
		@media all and (min-width: $minWidth){

			//#sliderCampaignNews
			#sliderCampaignNews &{
				padding-top: 2.0rem;
			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){


			//#sliderCampaignNews
			#sliderCampaignNews &{
				position: relative;
				height: 400px;
				padding: 0 !important;

				#spShow{
					display: block !important;
					z-index: 5 !important;
					position: absolute;
					top: 310px;
					width: 100%;
					color: $yellow;
					font-size: $bigger;
					text-align: center;
				}

				.appealTitle{
					margin-top: 3.0rem;
				}
				.appealDetails{
					display: none;
				}
			}

		}


	}



	// #appealItems
	//******************************************************************

	#appealItems{

		overflow: hidden;
		background:{
			color: $gray;
			image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYV2NkIAIwElLz9zRDPV5FIAXMpgyNBE0C2YRVEcwEmFMwFKErwGkSumfgJmEzAcU6fApACgGEihFR4ky7wgAAAABJRU5ErkJggg==);
			repeat: repeat;
		}
		padding: 3.0rem 0;
		
		#timeline{
			text-align: center;
			min-height: 268px;
		}

		#welcome{

			position: relative;
			min-height: 268px;

			a{
				display: block;
				position: relative;
				margin-top: 1.0rem;
				padding: 1.0rem;
				@include border-radius(3px);
				@include box-sizing(border-box);
				background: $pink;
				color: $white;
				font-size: $normal * 1.1;
				text-decoration: none;
				letter-spacing: 0.05rem;

				&:after{
					position: absolute;
					top: 50%;
					right: 1.0rem;
					width: 0;
					height: 0;
					margin-top: -5px;
					border: 5px solid transparent;
					border-left-color: $white;
					content: "";
				}

			}

			#ecolin{
				position: absolute;
				top: 0;
				left: 0;
			}


			//PC
			@media all and (min-width: $minWidth){
				#ecolin{
					width: 200px;
				}
				#btns{
					margin-top: 5.0rem;
					margin-left: 220px;
				}
			}

			//Mobile
			@media all and (max-width: $maxWidth){
				#ecolin{
					width: 100px;
				}
				#btns{
					margin-left: 80px;
					margin-top: 3.0rem;
					.block{
						display: inline !important;
					}
				}


			}


		}
	}

	// .details
	//******************************************************************

	.details{

		background: $darkBlue;
		color: $white;

		a{
			color: $yellow;
		}

	}

	// .star
	//******************************************************************
	
	.star{
		display: inline-block;
		position: absolute;
		z-index: 1;
		@include opacity(.3);
		@for $i from 1 through 5{
			&#star#{$i}{
				top: random(400) + px;
				left: random(930) + px;
					color: $yellow; 
				@include rotate(random(45)+deg);
				font-size: 30px;
			}
		}
		@for $i from 6 through 10{
			&#star#{$i}{
				top: random(-500) + px;
				left: random(930) + px;
					color: $yellow; 
				@include rotate(random(45)+deg);
				font-size: 10px;
			}
		}
		@for $i from 11 through 20{
			&#star#{$i}{
				top: random(-500) + px;
				left: random(930) + px;
					color: $white; 
				@include rotate(random(45)+deg);
				font-size: 20px;
			}
		}
		@for $i from 21 through 25{
			&#star#{$i}{
				top: random(500) + px;
				left: random(930) + px;
					color: $black; 
				font-size: 100px;
					@include opacity(.1);
				@include rotate(random(-45)+deg);
			}
		}
		@for $i from 26 through 30{
			&#star#{$i}{
				top: random(-500) + px;
				left: random(930) + px;
					color: $green; 
				font-size: 10px;
					@include opacity(.3);
				@include rotate(random(-45)+deg);
			}
		}
		@for $i from 31 through 40{
			&#star#{$i}{
				top: random(500) + px;
				left: random(930) + px;
					color: $green; 
				font-size: 20px;
				@include rotate(random(-45)+deg);
			}
		}
	}

}


//**************************************************************************
// #camp1407-01
//**************************************************************************

#camp1407-01{

	$yellow1407-01: #ffff00;

	background-color: #5cba9e; // Old browsers
	@include filter-gradient(#5cba9e, #5cba9e, horizontal); // IE6-9
	@include background-image(linear-gradient(left,#5cba9e 1%,#009ea1 50%,#5cba9e 100%));


	h2{
		&:before{
			background: $yellow1407-01;
		}
	}

	// .campVisual
	//******************************************************************

	.campVisual{

		position: relative;
		width: 280px;
		max-width: 280px;
		margin: 0 auto;
		padding: 4.0rem 0 6.0rem 0;
		text-align: center;

		//.appealTitle
		.appealTitle{

			position: relative;
			z-index: 2;

			p{
				span{
					display: block;
					margin-bottom: 0.5rem;
					line-height: 1.0em;
					&#items{
						color: $yellow1407-01;
						font-size: $bigger * 1.2;
						@include text-shadow(3px, 3px, 0px, $white);
					}
					&#expl{
						color: rgba($black, .5);
						font-size: $normal * 1.4;
						letter-spacing: -0.05rem;
					}
					&#off{
						
						position: relative;
						color: $white;

						#what{
							position: absolute;
							top: 50%;
							left: 0;
							margin-top: -21px;
							width: 21px * 2;
							height: 21px * 2;
							color: rgba($black, .5);
							font-size: $normal * 1.4;
							font-weight: bold;
						}

						#how{
							margin-left: 45px;
							font-size: $biggest * 1.6;
						}

					}
				}
			}
		}

		//.appealImg
		.appealImg{

			position: relative;
			z-index: 2;
			margin: 2.0rem 0;
			font-size: $biggest * 1.5;

			span{
				display: inline-block;
				margin: 0 0.3rem;
				width: 80px;
				height: 80px;
				@include border-radius(50%);
				border: 1px solid rgba($white, .5);
				color: $yellow1407-01;
				text-align: center;
				line-height: 80px;
			}

		}

		//firework
		span[class^="icon-firework"]{

			position: absolute;
			z-index: 1;

			&#firework1{
				top: 20px;
				left: -220px;
				color: rgba($yellow1407-01, .7);
				font-size: 150px;
			}

			&#firework2{
				top: 50px;
				right: -200px;
				color: rgba($white, .7);
				font-size: 80px;
			}

			&#firework3{
				top: 180px;
				left: -120px;
				color: rgba($white, .7);
				font-size: 50px;
			}

			&#firework4{
				top: 160px;
				right: -70px;
				color: rgba($black, .5);
				font-size: 30px;
			}

			&#firework5{
				top: 180px;
				right: -100px;
				color: rgba($black, .5);
				font-size: 20px;
			}

		}

		//.circle
		.circle{

			display: block;
			position: absolute;
			@include border-radius(50%);
			background: $white;

			&#circle1{
				left: -200px;
				bottom: -50px;
				width: 100px;
				height: 100px;
			}
			&#circle2{
				left: -140px;
				bottom: -100px;
				width: 200px;
				height: 200px;
			}
			&#circle3{
				left: 0;
				bottom: -80px;
				width: 150px;
				height: 150px;
			}
			&#circle4{
				right: 100px;
				bottom: -20px;
				width: 50px;
				height: 50px;
			}
			&#circle5{
				right: 20px;
				bottom: -50px;
				width: 100px;
				height: 100px;
			}
			&#circle6{
				right: -200px;
				bottom: -120px;
				width: 200px;
				height: 200px;
			}
			&#circle7{
				right: -50px;
				bottom: -20px;
				width: 100px;
				height: 100px;
			}
			&#circle8{
				right: -230px;
				bottom: -30px;
				width: 50px;
				height: 50px;
			}


		}
	}

	// .details
	//******************************************************************

	.details{

		position: relative;
		z-index: 5;
		background: $white;

	}


}


//**************************************************************************
// #camp1408-00
//**************************************************************************

#camp1408-00{

	$blue1408-00: #00ffff;
	$darkBlue1408-00: #032475;

	background-color: $darkBlue1408-00;

	// .campVisual
	//******************************************************************

	.campVisual{

		position: relative;
		padding: 2.0rem;

		#appealTitle{

			border: 1px solid rgba($blue1408-00, .5);
			text-align: center;

			#allyoucanpack{
				padding-top: 3.0rem;
				padding-bottom: 3.0rem;
				color: rgba($blue1408-00, .9);
				.case{
					line-height: 1.0em;
					font-size: 68px;
					font-weight: bold;
				}
				.pack{
					line-height: 1.0em;
					font-size: 50px;
				}
			}

			#shippingFree{
				margin-bottom: 3.0rem;
				padding-top: 1.0rem;
				padding-bottom: 1.0rem;
				background: rgba($blue1408-00, .5);
				color: $white;
				font-size: 25px;
				letter-spacing: 0.2rem;
			}

		}

		#appealImg{

			.icon-plane{

				position: absolute;
				top: 2.0rem;
				right: 2.0rem;
				@include rotate(30deg);
				color: rgba($blue1408-00, .7);
				font-size: $biggest * 1.5;

			}

			.circle{

				position: absolute;
				@include border-radius(50%);

				&.circle1{
					width: 15px;
					height: 15px;
					background: rgba($blue1408-00, .5);
				}
				&.circle2{
					width: 10px;
					height: 10px;
					background: rgba($blue1408-00, .3);
				}
				&.circle3{
					width: 5px;
					height: 5px;
					background: rgba($blue1408-00, .7);
				}

				&#cloud1{ top: 300px; left: 340px; }
				&#cloud2{ top: 280px; left: 350px; }
				&#cloud3{ top: 290px; left: 400px; }
				&#cloud4{ top: 310px; left: 450px; }
				&#cloud5{ top: 270px; left: 500px; }
				&#cloud6{ top: 260px; left: 550px; }
				&#cloud7{ top: 290px; left: 600px; }
				&#cloud8{ top: 240px; left: 650px; }
				&#cloud9{ top: 220px; left: 720px; }
				&#cloud10{ top: 250px; left: 675px; }
				&#cloud11{ top: 200px; left: 730px; }
				&#cloud12{ top: 150px; left: 740px; }
				&#cloud13{ top: 120px; left: 790px; }
				&#cloud14{ top: 100px; left: 800px; }
				&#cloud15{ top: 80px; left: 850px; }

			}

		}

	}

	//PC
	@media all and (min-width: $minWidth){

		background-image: url(assets/img/campaign/1408/00_bg.jpg);
		background-position: center bottom;
		background-size: 120%;
		background-repeat: no-repeat;

		.campVisual{
			#appealTitle{
				width: 290px;
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		.campVisual{
			#appealTitle{
				margin: 0 auto;
			}
		}

	}

	// .details
	//******************************************************************

	.details{

		position: relative;
		z-index: 5;
		background: $white;

	}

}




//**************************************************************************
// #camp0000-02
//**************************************************************************

#camp0000-02{

	background: transparent !important;

	// .hex-row
	//******************************************************************
	
	.hex-row{
	background: transparent !important;


		margin: 0 auto;
		padding-top: 3.0rem;
		padding-bottom: 2.0rem;

		//.hex
		.hex{

			position: relative;
			float: left;
			zoom: 1;
			width: 150px;
			height: 86px;
			margin: 27px 5px;
			background-color: $yellow;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: auto 173px;
			text-align: center;

			//.corner1, .corner2
			.corner1,
			.corner2{
				overflow: hidden;
				z-index: -2;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: inherit;
				backface-visibility: hidden;
				&:before{
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 173px;
					height: 173px;
					background: inherit;
					background-repeat: no-repeat;
					backface-visibility: hidden;
					content: "";
				}
			}

			//.corner1
			.corner1{
				z-index: -1;
				@include rotate(60deg);
				&:before{
					transform: rotate(-60deg) translate(-87px, 0px);
	      				transform-origin: 0 0;
				}
			}

			//.corner2
			.corner2{
				@include rotate(-60deg);
				&:before{
					transform: rotate(60deg) translate(-44px, -12px);
					bottom:0;
				}
			}

			&#title1{
				background: $green;
				.inner{
					font-size: $big;
					line-height: 1.1em;
					color: $white;
					padding-top: 1.0rem;
				}
			}

			&#title2{
				background: $pink;
				.inner{
					font-size: $biggest;
					font-weight: bold;
					line-height: 1.1em;
					color: $white;
					padding-top: 0.5rem;
				}
			}


			&#off1{
				background: $darkBlue;
				font-size: $bigger;
				line-height: 1.2em;
				.inner{
					padding-top: 0.5rem;
					color: $white;
					line-height: 1.3em;
					.big{
						font-size: $big;
						font-weight: bold;
						letter-spacing: 0.05rem;
					}
				}
			}

			&#family1{
				background-image: url("http://youshotmedown.files.wordpress.com/2012/03/familyl1800x1200.jpg");
			}
			&#img4{
				background-color: $green;
			}
			


		}

		//PC
		@media all and (min-width: $minWidthSmall){
	
			width: 568px;

			.hex-gap{
				margin-left: 86px;
			}

		}

		//Mobile
		@media all and (max-width: $maxWidthSmall){
		
			width: 235px;

			.hex:nth-of-type(2n){
				margin-left: 86px;
			}

		}

	}


	// .details
	//******************************************************************

	.details{

		background: $darkBlue;
		color: $white;

		a{
			color: $yellow;
			&:hover{
				color: $white;
			}
		}

	}


}

//**************************************************************************
// #camp0000-01
//**************************************************************************

#camp0000-01{

$gray0000-00: #E4E4E4;

background:{
	image: url("assets/img/campaign/0000/00_bg.gif");
	position: left top;
	repeat: no-repeat;
	color: $gray0000-00;
}


	// .campVisual
	//******************************************************************

	.campVisual{

		margin: 0 auto;
		padding: 3.0rem 1.0rem 1.0rem 1.0rem;
		text-align: center;

		//.appealTitle
		.appealTitle{
			font-size: $biggest * 1.2;
			line-height: 1.3em;
			@include text-shadow(3px, 3px, 0px, $white);
		}

		//.showMsg
		.showMsg{
			display: inline-block;
			margin-top: 3.0rem;
			padding: 0.5rem;
			background: rgba($darkGray, .5);
			color: $white;
			cursor: pointer;
			.icon-plus3{
				color: $pink; 
			}
			&:hover{
				color: $pink;
			}
		}
		//#sliderCampaignNews &
		#sliderCampaignNews &,
		article#campaign &{

			.showMsg{
				display: none;
			}

			#toBehind{
				display: inline-block;
				margin-top: 2.0rem;
				margin-left: auto;
				margin-right: auto;
				padding: 0.5rem 1.0rem;
				border: 1px solid rgba($black, .1);
				@include border-radius(6px);
				background: rgba($pink, .8);
				color: $white;
				font-size: $normal;
				text-decoration: none;
				&:hover{
					border: 1px solid rgba($darkBlue, .5) !important;
					background: rgba($darkBlue, .8) !important;
				}
				&:after{
					margin-left: 0.5rem;
					font-family: icomoon;
					font-size: 90%;
					speak: none;
					content: "\e9db";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}

		}

		//#behindMsg
		#behindMsg{
			padding-top: 3.0rem;
			text-align: left;
		}

		//#toBehind
		#toBehind{
			display: none;
		}


		//Mobile
		@media all and (max-width: $maxWidthSmall){

			//.appealTitle
			.appealTitle{
				font-size: $biggest;
				line-height: 1.2em;
				.block{
					display: inline !important;
				}
			}

		}

	}

	// #convenience
	//******************************************************************

	#convenience{

		padding-bottom: 5.0rem;

		h3{
			display: none;
		}

		ol{

		.case{

			.info{

			overflow: hidden;
			position: relative;
			background: $white;
			border: rgba($black, .1);
			@include border-radius(3px);

				h4{
					margin: 0;
					padding: 2.0rem 0;
					font-size: $biggest !important;
					text-align: center;
					line-height: 1.1em !important;
					span{
						&.block{
							&:first-of-type{
								&:after{
									display: block;
									color: $green;
									font-family: icomoon;
									speak: none;
									content: "\e670";
								}
							}
						}
					}
				}
			}

			p{
				padding: 1.0rem;
				border-top: 1px solid rgba($black, .1);
				background-color: rgba($black, .05);
			}

			.expiration{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 140px;
				height: 140px;
				margin-top: -70px;
				margin-right: -70px;
				@include border-radius(50%);
				background: $green;
				span{
					display: block;
					position: absolute;
					left: 0.8rem;
					bottom: 1.6rem;
					color: $white;
					font-weight: bold;
					@include rotate(45deg);
				}
			}



		}

	//Mobile
	@media all and (max-width: $maxWidth){

		li{

			&:not(:last-of-type){
				margin-bottom: 2.0rem;
			}
		}
	}

	}



	}

	// .details
	//******************************************************************

	.details{

		background: $green;
		color: $white;

		a{
			color: $yellow;
			&:hover{
				color: $darkGray;
			}
		}

	}

	// .social4i
	//******************************************************************

	.social4i{
		margin: 0 auto;
		text-align: center;
	}

}




//**************************************************************************
// #camp0000-03
//**************************************************************************

#camp0000-03{


	$dateHeight: 68px;

	.campVisual{

		display: block;
		position: relative;
		padding-top: 3.0rem;
		padding-bottom: 5.0rem;
		background-image: url("assets/img/campaign/0000/03_bg.png");
		background-repeat: no-repeat;

		#appealTitle{

			p{

				display: table;
				table-layout: fixed;
				width: 280px;
				margin: 0 auto;
				border: 3px solid $darkGray;
				@include box-sizing(border-box);

				.leftTitle,
				.rightTitle{
					display: table-cell;
					width: 50%;
					padding-top: 0.2rem;
					padding-bottom: 0.2rem;
					text-align: center;
					vertical-align: middle;
				}
				.leftTitle{
					background-color: $darkGray;
					color: $white; 
				}
				.rightTitle{
					color: $darkGray;
				}
			}
			
		}


		#dates{
			
			P{
				position: relative;

				.date{
					display: inline-block;
					overflow: hidden;
					position: relative;
					margin-right: 0.1rem;
					@include border-radius(50%);
					border-radius: 50%;
					background-color: $pink;
					color: $white;
					text-align: center;

					&:before{
						display: block;
						z-index: 1;
						position: absolute;
						top: $dateHeight / 2;
						left: $dateHeight / 2;
						background-color: #CC3B86;
						@include rotate(45deg);
						content: "";
					}

					.dateIn{
						position: relative;
						z-index: 2;
					}

				}

			}

		}

		#discount{
			display: block;
			.off{
				font-weight: bold;
				line-height: 1.3em;
				letter-spacing: -0.1rem;
			}
		}

		//PC
		@media all and (min-width: $minWidth){


			background-position: right bottom;

			#dates{

				margin-top: 2.0rem;

				.date{

					width: $dateHeight * 1.5;
					height: $dateHeight * 1.5;
					line-height: $dateHeight * 1.5;

					&:before{
						width: $dateHeight * 1.5;
						height: $dateHeight * 1.5; 
					}

					.dateIn{
						font-size: $biggest * 1.5;
						letter-spacing: -0.1rem;
					}

					&#dateAfter{

						.dateIn{
							font-size: $big;
						}

					}

				}

			}

			#discount{
				font-size: $biggest * 2;
				.block{
					display: inline !important;
				}
			}

			//#sliderCampaignNews &
			#sliderCampaignNews &{

				padding: 3.0rem 1.0rem;
				height: 400px;
				background-size: 60%;
				@include box-sizing(border-box);

			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){

			background-position: right bottom;
			background-size: 280px;

			#dates{

				width: 280px;
				margin: 2.0rem auto;

				.date{

					width: $dateHeight;
					height: $dateHeight;
					line-height: $dateHeight;

					&:before{
						width: $dateHeight;
						height: $dateHeight; 
					}

					.dateIn{
						font-size: $biggest;
					}

					&#dateAfter{
						overflow: visible;
						position: absolute;
						bottom: 0;
						right: 0;
						height: 1.0em;
						margin-bottom: -1.3em;
						background: transparent;
						color: $pink;
						line-height: 1.0em;
						&:before{
							width: 0;
							height: 0;
							background: inherit;
						}
						.dateIn{ font-size: $big !important; }
					}
				}

			}


			#discount{

				width: 280px;
				margin: 0 auto;
				font-size: $biggest;
				.off{
					font-size: $biggest * 1.5;
				}

			}

		}


	}

	// .details
	//******************************************************************

	.details{

		background: $green;
		color: $white;

	}

}



//**************************************************************************
// #camp1410-00
//**************************************************************************

#camp1410-00{

	$beige1410-00: #DFDEC5;
	$brown1410-00: #42210B;

	background: $beige1410-00;
	background-image: linear-gradient(90deg, rgba($white, .1) 50%, transparent 50%),
	linear-gradient(rgba($white, .1) 50%, transparent 50%);
	background-size:50px 50px;

	// .campVisual
	//******************************************************************

	.campVisual{
	
		//PC
		@media all and (min-width: $minWidth){

			img{
				height: 400px;
			}
		}

	}

	// .details
	//******************************************************************

	.details{

		background: $beige1410-00;

	}
	
}





















