@charset "UTF-8";

article.columns{

//**********************************************************************
// General settings
//**********************************************************************

.contents{
	position: relative;
}

//**********************************************************************
// .msg
//**********************************************************************

.msg{

	//PC
	@media all and (min-width: $minWidth){

		position: absolute;
		top: 1.0rem;
		right: 0;

		//img
		img{
			position: relative;
			z-index: 2;
			width: 250px;
		}

		//.explains
		.explains{
			position: absolute;
			z-index: 3;
			line-height: 1.2em;
			top: 0;
			right: 220px;
			width: 160px;
			height: 160px;
			margin-top:  0;
			padding-top: 3.0rem;
			@include box-sizing(border-box);
			@include border-radius(50%);
			background: rgba($yellow, .4);
			font-size: $normal * 1.3;
			text-align: center;
			letter-spacing: -0.05rem;
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		//img
		img{
			display: none;
		}

		//.explains
		.explains{
			display: none;
		}

	}

}

//**********************************************************************
// .listEcokaishu
//**********************************************************************

.listEcokaishu{

	// .listEcokaishu
	//**************************************************************

	li{

		//h4
		h4{
			margin-top: 0;
			margin-bottom: 0.5rem;
			line-height: 1.3em;
		}

		//img
		img{
			margin-bottom: 1.0rem;
		}

		//dl
		dl{
			dt{
				display: none;
				font-size: 90%;

			}
			dd{
				&:before{
					font-family: icomoon;
					font-size: 90%;
					speak: none;
					margin-right: 0.3rem;
				}
				&.date{ &:before{ content: "\e8f7"; } }
				&.location{ &:before{ content: "\e8ec"; } }
				&.ecokaishuItem{ &:before{ content: "\e6ee"; } }
			}
		}

		//Mobile
		@media all and (max-width: $maxWidth){

			&:not(:last-of-type){
				margin-bottom: 2.0rem;
			}

		}

	}

}

//**************************************************************
// .listVoices
//**************************************************************

.listVoices{

	//dt
	dt{
		font-size: $normal * 1.2;
		margin-bottom: 1.0rem;
		&:before{
			margin-right: 0.5rem;
			font-family: icomoon;
			font-size: 90%;
			speak: none;
			content: "\e915";
		}
	}

	//dd
	dd{
		&:not(:last-of-type){
			margin-bottom: 2.0rem;
			padding-bottom: 2.0rem;
			border-bottom: 1px dashed rgba($black, .1);
		}
	}

}

//**************************************************************
// .listShortcuts
//**************************************************************

.listShortcuts{

	//li
	li{

		//a
		a{

			display: block;
			position: relative;
			padding: 1.5rem 0;
			@include box-sizing(border-box);
			color: $darkGray;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:after{
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -10px;
				color: $darkGray;
				font-family: icomoon;
				font-size: $biggest;
				speak: none;
				content: "\e862";
			}
			&:hover:after{ color: $pink; }
			
			.index{
				margin-top: 0.5rem;
				font-size: $bigger;
				color: $green;
				span[class^="icon-"]{
					margin-right: 0.3rem;
					color: $darkGray;
				}
			}
			&:hover .index{ color: $pink !important; }

		}

		//Mobile
		@media all and (max-width: $maxWidth){

			&:not(:last-of-type){
				margin-bottom: 1.0rem;
			}
			
		}

	}

}

//**********************************************************************
// .listArea
//*********************************************************************

.listArea{

	//li
	li{

		display: inline-block;
		font-size: 90%;

		&:not(:last-of-type){
			&:after{
				margin-left: 0.3rem;
				margin-right: 0.3rem;
				color: $gray;
				content: "|";
			}
		}

	}

}

//**********************************************************************
// .listPosts
//*********************************************************************

.listPosts{

	h3{
		display: inline-block;
		vertical-align: middle;
	}

}

//**********************************************************************
// .post
//**********************************************************************

&.post{

	position: relative;
	padding-top: 0;
	padding-bottom: 3.0rem;

	// h tag
	//**************************************************************
		
	h2{
		line-height: 1.5em;
		margin-bottom: 1.0rem;
		padding-top: 0;
		text-align: left;
		font-size: $big;
		&:before{
			background-color: transparent;
		}
	}

	h3{
		font-size: $bigger;
	}

	h4{
		font-size: $normal * 1.2;
	}

	header{
		padding-bottom: 0;
	}

	// .contentsImg
	//******************************************************

	.contentsImg{

		border: 1px solid rgba($black, .1);
		max-width: 280px;

		//PC
		@media all and (min-width: $minWidth){
			margin-left: 1.0rem;
		}

		//Mobile
		@media all and (max-width: $maxWidth){
			display: block !important; 
			margin: 0 auto !important;
		}

	}

	// .listEcokaishu
	//******************************************************

	.listEcokaishu{

		//PC
		@media all and (min-width: $minWidth){

			li{
				display: inline-block;
				width: 24%;
				vertical-align: top;
				&:not(:first-of-type){
					margin-left: -4px;
				}
				&:not(:last-of-type){
					margin-right: 1%;
				}
			}

		}

	}

	// .listShortcuts
	//******************************************************

	.listShortcuts{

		//PC
		@media all and (min-width: $minWidth){

			li{
				display: inline-block;
				width: 32%;
				border-bottom: 1px solid rgba($black, .1);
				&:not(:last-of-type){
					margin-right: 1.19%;
				}
				a{
					padding-left: 1.0rem;
					padding-right: 1.0rem;
				}
			}

		}

	}

	// .contact
	//******************************************************

	.contact{

		//.box
		.box{

			position: relative;
			z-index: 5;

			//a
			a{
				display: block;
				padding-top: 0.5rem;
				color: $darkGray;
				text-decoration: none;

				//.label
				.label{
					margin-bottom: 0.5rem;
				}

				//.action
				.action{	

					margin-top: 0.5rem;
					padding: 1.0rem 0;
					border: 1px solid rgba($black, .1);
					@include border-radius(6px);
					color: $white;
					text-align: center;
					text-decoration: none;

					&:hover{
						border: 1px solid rgba($darkBlue, .5) !important;
						background: rgba($darkBlue, .8) !important;
						color: $white;
					}

					span[class^="icon-"]{
						font-size: 90%;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}

				}

			}

			&#tel{ .action{ background: $green; } }
			&#mail{ .action{ background: $pink; } }

		}

		//#openingHour
		#openingHour{
			margin-top: 1.0rem;
		}

		//PC
		@media all and (min-width: $minWidth){

			//h3
			h3{
				margin-top: 0;
				margin-bottom: 1.0rem;
			}

			//.box
			.box{
				display: inline-block !important;
				width: 32%;
				vertical-align: bottom;
				&:not(:last-of-type){
					margin-right: 1.19%;
				}
			}

			//#openingHour
			#openingHour{
				.date{
					&:nth-of-type(2){
						&:after{
							content: " / ";
						}
					}
				}
			}

		}

		//Mobile
		@media all and (max-width: $maxWidth){

			//h3
			h3{
				position: relative;
				z-index: 4;
				margin-top: 0;
				.block{
					display: inline !important;
				}
			}

			//.label
			.label{
				text-align: center;
			}

			//#openingHour
			#openingHour{
				text-align: center;
				.date{
					display: block;
				}
			}
		}

	}


	// #area
	//**************************************************************

	&#area{

		// #municipalities
		//******************************************************

		#municipalities{

			//.msg
			.msg{
				top: -100px;
			}

			//#mapIndex
			#mapIndex{

				position: relative;
				z-index: 4; 
				span{
					display: inline-block;
					&:before{
						display: inline-block;
						width: 8px;
						height: 8px;
						margin-right: 0.3rem;
						content: "";
					}
					&.applicable{ &:before { background: rgba($pink, .5); } }
					&.addtional{ &:before { background: rgba($pink, .2); } }
					&.disable{ &:before { background: rgba($black, .3); } }
				}

			}

			//#map
			#map{
				position: relative;
				z-index: 4;
				margin-top: 1.0rem;
				margin-bottom: 1.0rem;
			}

			//#mapArea
			#mapArea{

				h4{
					margin-top: 1.0rem;
					margin-bottom: 0.5rem;
				}
				
			}

			//Mobile
			@media all and (max-width: $maxWidth){
				margin-top: 0;
				padding-top: 0;
			}

		}

		//.contact
		.contact{
			#openingHour{
				display: inline-block !important;
				width: 32%;
				margin-left: 1.19%;
				.date{
					display: block;
					line-height: 1.2em;
					font-size: 90%;
					&:nth-of-type(1){
						display: block;
					}
					&:nth-of-type(2){
						&:after{
							content: "";
						}
					}
				}
			}
		}

	}

	// &#items
	//**************************************************************

	&#items{

		// .contact
		//******************************************************
		
		.contact{
			&:first-of-type{
				.msg{
					top: -100px;
				}
			}
			&:last-of-type{
				.msg{
					display: none;
				}
				#openingHour{
					display: inline-block !important;
					width: 32%;
					margin-left: 1.19%;
					.date{
						display: block;
						line-height: 1.2em;
						font-size: 90%;
						&:nth-of-type(1){
							display: block;
						}
						&:nth-of-type(2){
							&:after{
								content: "";
							}
						}
					}
				}
			}
		}

		// .listFaq
		//******************************************************

		.listFaq{
			position: relative;
			z-index: 2;
		}

		// .listEcokaishu
		//******************************************************

		.listEcokaishu{
			position: relative;
			z-index: 2;
		}

		// .priceExam
		//******************************************************

		.priceExam{

			position: relative;

			//.imgFamily
			.imgFamily{

				overflow: hidden;
				@include border-radius(50%);
				border: 1px solid rgba($black, .1);

				//PC
				@media all and (min-width: $minWidth){
					position: absolute;
					z-index: 1;
					top: 4.0rem;
					right: 0;
					width: 180px;
					height: 180px;
				}

				//Mobile
				@media all and (max-width: $maxWidth){
					display: block;
					width: 200px;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 2.0rem;
				}

			}

		}

	}

}

//**********************************************************************
// .sidebar
//**********************************************************************

.sidebar{

	padding-bottom: 3.0rem;

	h2{
		font-size: $bigger;
		margin-bottom: 1.0rem;
	}

	.contents{
		margin-bottom: 2.0rem;
		padding: 0;
		border: none;
	}

	// .bnrBtn
	//**************************************************************

	.bnrBtn{

		@include box-sizing(border-box);

		//#area
		&#area{

			//a
			a{
				display: block;
				position: relative;
				padding: 1.0rem;
				text-decoration: none;
				color: $darkGray;
			}

			//#area
			&#area{

				position: relative;
				border: 3px solid rgba($black, .1) !important; 

				&:hover{
					border-color: $pink;
					.icon-map3{
						color: $pink;
					}
				}

				p{
					margin-top: 5.0rem;
					font-size: $bigger;
					text-align: center;
				}

				span{
					
					&.icon-map3{
						display: block;
						position: absolute;
						z-index: 2;
						top: 1.0rem;
						left: 50%;
						margin-left: -32px;
						font-size: $biggest * 2.0;
						color: $yellow;
					}
					&.icon-search{
						display: block;
						position: absolute;
						z-index: 3;
						top: 2.8rem;
						left: 50%;
						color: $darkBlue;
						font-size: $biggest;
					}
				}

			}
		}

	}

	// .catsList
	//**************************************************************

	.catsList{

		h3{
			display: none;
		}

		li{
			border: 1px solid rgba($black, .05);
			margin-bottom: 0.5rem;
			a{
				display: block;
				padding: 1.0rem;
				background: rgba($green, .7);
				color: $white;
				text-decoration: none;
				&:hover{
					background: rgba($darkBlue, .7) !important;
				}
				&:before{
					margin-right: 0.3rem;
					font-family: icomoon;
					font-size: 90%;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&:nth-of-type(2n){
				a{
					background: rgba($pink, .7);
				}
			}
			&.ecoauc-fund-report a:before{ content: "\e97a"; }
			&.media a:before{ content: "\e900"; }
			&.events a:before{ content: "\e8b9"; }
			&.ecoreport a:before{ content: "\e828"; }
			&.notice a:before{ content: "\e8c4"; }
			&.staff a:before{ content: "\e919"; }
			&.pressrelease a:before{ content: "\e8ad"; }

		}

	}

	// .behind
	//**************************************************************

	.behind{

		li{
			margin-bottom: 1.0rem;
			padding: 0.5rem;
			border: 1px solid rgba($black, .1);

			a{

				padding-top: 0.5rem;
				padding-bottom: 0.5rem;

				p{

					margin-top: 1.0rem;


					//&.info
					&.info{

						display: inline-block;
						font-size: $bigger;
						color: $darkGray !important;

						.block{

							display: inline !important;
							
							&:nth-of-type(1){
								&:after{
									display: inline;
									margin-left: 0.1rem;
									margin-right: 0.1rem;
								}
							}

						}

					}

				}

				//.icon-bullhorn
				.icon-bullhorn{
					display: inline-block !important;
					width: 20px;
					height: 20px;
					font-size: $normal;
					line-height: 20px;
				}

			}

		}
	}

}

}