@charset "UTF-8";

article#faq{

//**********************************************************************
// General settings
//**********************************************************************

margin: 0 auto;

//**********************************************************************
// layout settings
//**********************************************************************

// .container settings
//**********************************************************************

.container{

	position: relative;

}

// .docs
//**********************************************************************

.docs{
	//PC
	@media all and (min-width: $minWidth){
		max-width: $maxWidth;
	}
}

//**********************************************************************
// .intro
//**********************************************************************

.intro{

	padding-top: 5.0rem;
	padding-bottom: 5.0rem;
	border-bottom: 1px solid rgba($black, .1);

	// ul
	//**************************************************************

	ul{

		//li
		li{

			a{
				display: block;
				padding: 0.5rem;
				border: 1px solid rgba($black, .1);
				@include border-radius(3px);
				background: $white;
				color: $darkGray;
				text-decoration: none;
				&:before{
					font-family: icomoon;
					speak: none;
				}
				&:hover{
					color: $green;
				}
				.txt{
					padding-left: 0.1rem;
				}
			}

			&:nth-of-type(1){ a:before{ content: "\e789"; } }
			&:nth-of-type(2){ a:before{ content: "\e8e1"; } }
			&:nth-of-type(3){ a:before{ content: "\e6ed"; } }
			&:nth-of-type(4){ a:before{ content: "\e8da"; } }
			&:nth-of-type(5){ a:before{ content: "\e66e"; } }
			&:nth-of-type(6){ a:before{ content: "\e706"; } }

		}
	}

	//PC
	@media all and (min-width: $minWidth){
		
		ul{

			text-align: center;
			li{

				margin: 0.3rem;
				display: inline-block;
			}

		}
	}

	//Mobile
	@media all and (max-width: $maxWidth){

		ul{
			li{
				display: block;
				&:not(:last-of-type){
					margin-bottom: 0.5rem;
				}
			}
		}

	}

}

}