@charset "UTF-8";

article#faq{

//**********************************************************************
// General settings
//**********************************************************************

max-width: $maxWidth;
margin: 0 auto;

//**********************************************************************
// layout settings
//**********************************************************************

// .container settings
//**********************************************************************

.container{
	position: relative;
}

// .contents
//**********************************************************************

.contents{
	padding: 5.0rem 0;
	border-top: 1px solid rgba($black, .1);
	background: transparent !important;
}

//**********************************************************************
// dl
//**********************************************************************

dl{

	// dt, dd
	//**************************************************************

	dt,dd{

		position: relative;
		padding:{
			top: 1.0rem;
			bottom: 1.0rem;
			right: 1.0rem;
			left: 3.5rem;
		}
		background: $white;

		//&:before
		&:before{
			position: absolute;
			top: 50%;
			left: 1.0rem;
			margin-top: -10px;
			font-family: icomoon;
			speak: none;
			font-size: $bigger;
			line-height: 1.0em;
		}
	}

	// dt
	//**************************************************************

	dt{
		position: relative;
		&:before{
			content: "\e99f";
		}
		&:after{
			display: block;
			position: absolute;
			left: 1.6rem;
			bottom: 0;
			width: 2px;
			height: 1.0rem;
			margin-bottom: -1.0rem;
			background: rgba($black, .1);
			content: "";
		}
	}

	// dd
	//**************************************************************

	dd{
		margin-top: 1.0rem;
		margin-bottom: 2.0rem;
		border: 1px solid rgba($black, .1);
		&:before{
			color: $green;
			content: "\e70e"
		}
	}

}

//**********************************************************************
// .intro
//**********************************************************************

.intro{

	padding-top: 5.0rem;
	padding-bottom: 5.0rem;

	// ul
	//**************************************************************

	ul{

		//li
		li{

			a{
				display: block;
				padding: 0.5rem;
				border: 1px solid rgba($black, .1);
				@include border-radius(3px);
				background: $white;
				color: $darkGray;
				text-decoration: none;
				&:before{
					font-family: icomoon;
					speak: none;
				}
				&:hover{
					color: $green;
				}
				.txt{
					padding-left: 0.1rem;
				}
			}

			&:nth-of-type(1){ a:before{ content: "\e789"; } }
			&:nth-of-type(2){ a:before{ content: "\e8e1"; } }
			&:nth-of-type(3){ a:before{ content: "\e6ed"; } }
			&:nth-of-type(4){ a:before{ content: "\e66e"; } }
			&:nth-of-type(5){ a:before{ content: "\e706"; } }

		}
	}

	//PC
	@media all and (min-width: $minWidth){
		
		ul{

			text-align: center;
			li{

				margin: 0.3rem;
				display: inline-block;
			}

		}
	}

	//Mobile
	@media all and (max-width: $maxWidth){

		ul{
			li{
				display: block;
				&:not(:last-of-type){
					margin-bottom: 0.5rem;
				}
			}
		}

	}

}

}