@charset "UTF-8";

article.lp {

background-image: url(assets/img/lp/bg.jpg);
background-position: center top;
background-size: 100%;
background-repeat: no-repeat;

//Mobile
@media all and (max-width: $maxWidth){
	background-position: center 11.0rem;
}

//**********************************************************************
// Extend class
//**********************************************************************

//.icomoon
.icomoon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3rem;
	font-family: icomoon;
	speak: none;
}

//.point
.point{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
	padding-top: 13px;
	@include border-radius(50%);
	@include box-sizing(border-box);
	@include rotate(-5deg);
	color: $white;
	text-align: center;
	font-size: $small;
}


//**********************************************************************
// Common settings
//**********************************************************************

//h3
h3{
	margin-bottom: 1.0rem;
	font-size: $biggest;
	text-align: center;
}

//.titleSection
.titleSection{
	margin-bottom: 2.0rem;
}

//.txtNote
.txtNote{
	//PC
	@media all and (min-width: $minWidth){
		text-align: center;
	}
}

//.contentsCheck
.contentsCheck {
	position: relative;
	margin-top: 3.0rem;
	padding: 1.0rem;
	background: rgba($black, .05);
	.check{
		@extend .point;
		background: $pink;
	}
}

//**********************************************************************
// #lpIntro
//**********************************************************************

#lpIntro {

	// h2
	//******************************************************************

	h2 {

		//.sub
		.sub{
			display: block;
			line-height: 1.1em;
			margin-bottom: 0.5rem;
		}

		//.main
		.main{
			display: block;
			line-height: 1.1em;
			font-weight: bold;
		}

	}

	// .points
	//******************************************************************

	.points {

		text-align: center;

		//span[class^="icon-"]
		span[class^="icon-"]{
			line-height: 0;
			@include border-radius(50%);
			background: $white;
			font-size: $biggest*2.2;
		}

		//.titlePoint
		.titlePoint{
			margin-top: 2.0rem;
			margin-bottom: 2.0rem;
			font-size: $bigger;
		}

		//.subTitlePoint
		.subTitlePoint{
			margin-top: 1.0rem;
			margin-bottom: 1.0rem;
			font-size: $normal* 1.2;
			font-weight: bold;
		}

	}


	//PC
	@media all and (min-width: $minWidth){

		padding-top: 5.0rem;

		//h2
		h2 {
			margin-bottom: 5.0rem;
			.sub{
				font-size: $biggest;
			}
			.main{
				font-size: $biggest*2;
			}
			.block{
				display: inline !important;
			}
		}

		//.points
		.points{
			padding-left: 1.0rem;
			padding-right: 1.0rem;
			padding-bottom: 3.0rem;
			@include border-radius(6px);
			background: rgba($white, .5);
		}

		//.footnote
		.footnote{
			display: block;
			margin-top: 3.0rem !important;
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		padding-top: 2.0rem;

		//h2
		h2 {
			margin-bottom: 6.0rem;
			&:before{
				background: none;
			}
			.main{
				font-size: $biggest * 1.7;
			}
		}

		//.points
		.points {
			margin-bottom: 3.0rem;
			padding-bottom: 3.0rem;
			border-bottom: 1px dashed $gray;
			span[class^="icon-"]{
				border: 1px solid rgba($black, .1);
			}
		}

	}

}

//**********************************************************************
// #lpPriceDetails
//**********************************************************************

#lpPriceDetails{

	margin-top: 3.0rem;
	border-top: 1px solid rgba($black, .1);

	// #basicCharges
	//******************************************************************

	#basicCharges{

		position: relative;

		//.areaMsg
		.areaMsg{

			margin-top: 2.0rem;
			font-size: $bigger;
			text-align: center;

			//.warning
			.warning{
				margin-bottom: 0;
				padding: 1.0rem;
			}

			//areaMsgStaff
			#areaMsgStaff{
				position: absolute;
				bottom: 0;
				right: 10%;
				width: 170px;
			}

			//Mobile
			@media all and (max-width: $maxWidth){
				#areaMsgStaff{
					display: none;
				}
			}

		}

	}

}

//**********************************************************************
// #lpQuality
//**********************************************************************

 #lpQuality {

	// .strongPointDetail
	//******************************************************************

	.strongPointDetail {
		h4 {
			text-align: center;
		}
	}

	// .listStaff
	//******************************************************************

	.listStaff {

		margin-top: 2.0rem;
		padding-top: 1.0rem;
		border-top: 1px dashed rgba($black, .05);

		//.staff
		.staff{
			text-align: center;
			.circleTrimming {
				width: 170px;
				height: 170px;
				margin-bottom: 1.0rem;
			}
		}

	}

}

//**********************************************************************
// #lpAchivements
//*********************************************************************

#lpAchivements {

	// .contentsAchivements
	//******************************************************************

	.contentsAchivements{
		margin-top: 2.0rem;
		padding-top: 1.0rem;
		border-top: 1px dashed rgba($black, .05);
		text-align: center;
	}

	// .listColl
	//******************************************************************

	.listColl{
		margin-top: 2.0rem;
		.listColLogo{
			padding-left: 1.0rem;
			padding-right: 1.0rem;
		}
	}

	// #listMedia
	//******************************************************************

	#listMedia{
		margin-top: 2.0rem;
		.circleTrimming {
			width: 240px;
			height: 240px;
		}
	}


	//PC
	@media all and (min-width: $minWidth){

		//#listMedia
		#listMedia{
			.media{
				margin-left: 10px;
				margin-right: 10px;
				width: 265px;
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		//.listColl
		.listColl{
			li{
				margin-bottom: 2.0rem;
			}
		}

	}

}


//**********************************************************************
// #lpFlow
//*********************************************************************

#lpFlow {

	// .listFlow
	//******************************************************************

	.listFlow{

		margin: 2.0rem 0;

		//li
		li{

			position: relative;
			text-align: center;

			//h4
			h4{
				margin-bottom: 1.0rem;
			}

			//p
			p{
				margin-top: 1.0rem;
				text-align: left;
			}

			//span[class^="icon-"]
			span[class^="icon-"]{
				display: block;
				margin: 0 auto;
				font-size: $biggest*2;
			}

		}

	}

	// .contentsCheck
	//******************************************************************

	.contentsCheck{

		//li
		li{
			margin-bottom: 1.0rem;
			padding-bottom: 1.0rem;
			border-bottom: 1px dashed rgba($black, .1);
		}

	}


	//PC
	@media all and (min-width: $minWidth){

		//.contentsCheck
		.contentsCheck{
			padding-left: 3.0rem;
			padding-right: 3.0rem;
			text-align: center;
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		//#listFlow
		#listFlow{
			li{
				&:not(:last-of-type){
					margin-bottom: 2.0rem;
					padding-bottom: 2.0rem;
					border-bottom: 1px dashed rgba($black, .1);
				}
			}
		}

	}

}

//**********************************************************************
// #lpVoices
//**********************************************************************

#lpVoices{

	// #voiceNew
	//******************************************************************

	#voiceNew {

		position: relative;
		padding: 1.0rem 1.5rem;
		border: 1px solid $gray;
		@include border-radius (6px);

		//new
		.new {
			@extend .point;
			background: $orange;
		}

	}

	// archiveList
	//******************************************************************

	.archiveList{

		//a
		a{

			display: block;
			position: relative;
			padding-right: 2.0rem;

			//&:after
			&:after{
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -12px;
				@extend .icomoon;
				content: "\e862";
			}

			//h4
			h4{
				margin-top: 0;
				margin-bottom: 0.5rem;
				color: $darkGray !important;
				font-size: $normal;
				line-height: 1.2em;
			}

			//.itemInfo
			.itemInfo{
				display: inline-block !important;
				color: $darkGray !important;
				&:before{
					@extend .icomoon;
				}
				&.customer{ &:before{ content: "\e919"; } }
				&.place{ &:before{ content: "\e8eb"; } }
				&.items{ &:before{ content: "\e905"; }}
			}

		}

	}

	//PC
	@media all and (min-width: $minWidth){

		//.archiveList
		.archiveList{
			a{
				padding-right: 160px;
				.star{
					position: absolute;
					top: 50%;
					right: 30px;
					margin-top: -12px;
				}
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		//.archiveList
		.archiveList{
			margin-top: 2.0rem;
		}

	}

}

//**********************************************************************
// #lpWords
//**********************************************************************

#lpWords{

	// .listWords
	//******************************************************************

	.listWords{

		//dt
		dt{
			margin-top: 1.0rem;
			margin-bottom: 1.0rem;
			&:before{
				@extend .icomoon;
				content: "\e915";
			}
		}

	}
}

}













