@charset "UTF-8";

article#problems{

	background-color: $white;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqFGkpAiSaAhzwkpAluESxHYBJhTsClCUYDPJBT/IJuEYQK6dTgVgBQCAG5EBSOuEsbJAAAAAElFTkSuQmCC) !important;
	background-repeat: repeat;


//animation settings
@mixin transform_time ($time: 1s) {
	-webkit-transition: $time ease-in-out;
}
@mixin transform_to_scale ($scale: 1) {
	-moz-transform: scale($scale);
	-webkit-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
}


//**********************************************************************
// General settings
//**********************************************************************

//PC
	@media all and (min-width: $minWidth){


h3{
	//padding: 1.0rem;
	font-size: $biggest;
	//text-align: center;
}
h4{
	font-size: $big;
	line-height: 1.3em;
}

}

//**********************************************************************
// .intro
//**********************************************************************

.intro{

	overflow: hidden;

	// h2
	//**************************************************************

	h2{
		padding: 0;
		text-align: center;
		font-weight: bold;
		&:before{
			background: none;
		}
	}

	// #introIllust1, #introIllust2
	//**************************************************************
	
	#introIllust1, #introIllust2{
		display: inline-block;
		position: absolute;
	}

	//PC
	@media all and (min-width: $minWidth){

		min-height: 700px;
		position: relative;

		h2{
			//display: inline-block;
			//margin-left: 3rem;
		
			span:first-child{
				display: block;
				margin-bottom: 2.0rem;
				font-size: $bigger * 1.07;
			}
			span:nth-of-type(2){
				display: block;
				font-size: $biggest * 2;
			}
		}

		// circle link
		ul{
			li{
				display: inline-block;
				position: absolute;
				z-index: 10;
				a{
					display: table-cell;
					width: 180px;
					height: 180px;
					text-align: center;
					vertical-align: middle;
					background-color: rgba($white, 0.6);
					border: 5px solid rgba($black, .05);
					@include border-radius(50%);
					text-decoration: none;
					color: $black;
					letter-spacing: -0.05em;

					&:hover{
						@include transform_time(0.3s);
						@include transform_to_scale(1.02);
						background-color: rgba($pink,0.1);
					}
					b{
						color: $pink;
						font-weight: bold;
						font-size: $bigger;
					}
				}

				&:first-child{
					top: 280px;
					left: 40px;
				}
				&:nth-of-type(2){
					top: 60px;
					left: 120px;
				}
				&:nth-of-type(3){
					top: 180px;
					left: 620px;
				}
				&:nth-of-type(4){
					top: 50px;
					right: 140px;
				}
				&:nth-of-type(5){
					top: 230px;
					right: 0px;
				}
				&:nth-of-type(6){
					top: 370px;
					right: 220px;
				}
			}
		}

		#introIllust1{
			top: 175px;
			left: 325px;
			z-index: 1;
		}
		#introIllust2{
			bottom: 0;
			left: 20px;
			z-index: 0;
		}
	}

	//Mobile
	@media all and (max-width: $maxWidth){

		min-height: 500px;
		position: relative;

		//h2
		h2{
			display: block;
			margin-bottom: 2rem;
		
			span:first-child{
				display: block;
				margin-bottom: 0.5rem;
				font-size: 70%;	
			}
			span:nth-of-type(2){
				display: block;
				font-size: 220%;
			}
		}

		// list link
		ul{
			margin: 2rem auto;
			li{
				margin-bottom: 0.5rem;
				
				a{
					display: block;
					padding: 0.5rem;
					background-color: rgba($gray, .6);
					border: 1px solid rgba($black, .1); 
					text-decoration: none;
					color: $black;

					// break point
					&[href="#point1"] span{
						&:first-child{
							display: block;
						}
					}
					&[href="#point6"] span{
						&:first-child, &:nth-of-type(2){
							display: block;
						}
					}
				}
				b{
					color: $pink;
					font-weight: bold;
					font-size: 120%;
				}
				.block{
					display: inline !important;
				}
			}
			
		}
		#introIllust1{
			bottom: -70px;
			right: 0;
			z-index: 1;
			width: 30%;
		}
		#introIllust2{
			bottom: 0;
			left: 5px;
			z-index: -1;

			width: 100%;
		}

	}

}

//**********************************************************************
// #strongPointList
//**********************************************************************

#strongPointList{

	overflow: hidden;
	background-color: rgba($green, .3) !important;

	.container{
		position: relative;
	}

	// h3
	//**************************************************************

	h3{

		margin-top: 0;

		#circle{
			display: block;
			//line-height: 1.5rem;
			//background-color: $green;
			//color: $white;
			//font-size: $bigger;
			text-align: center;
			vertical-align: middle;
		}

	}

	//#pointListLink
	//**************************************************************
	
	#pointListLink{

		//ul
		ul{
			display: block;

			//li
			li{
				position: relative;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 1.5rem;
				border-bottom: 1px solid rgba($white, .3);
				text-align: left;
				word-wrap: break-word;

				//&:before
				&:before{
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -12px;
					color: $green;
					font-family: icomoon;
					content: "\e66f";
				}

				//a 
				a{
					text-decoration: none;
					font-weight: normal;
					color: $darkGray;

					&:hover{
						color: $green;
					}
				}

			}
		}

	}


	// PC
	@media all and (min-width: $minWidth){

		//h3
		h3{

			position: relative;
			margin-bottom: 2.0rem;
			//height: 200px;

			#circle{
				position: absolute;
				margin: 0 auto;
				width: 200px;
				height: 200px;
				@include border-radius(50%);
				top: 50%;
				left: 0;
				margin-top: -100px;
				//margin-left: -100px;
				.txt{
					position: absolute;
					width: 100%;
					top: 50%;
					left: 50%;
					margin-top: -33px;
					margin-left: -100px;

				}
			}
			
		}

		// photo ito
		#pointListPhoto{
			position: absolute;
			top: -4.0rem;
			right: 6.0rem;
		}

		// list link
		#pointListLink{
			ul{
				font-size: 120%;
				//li
				li{
					padding-top: 0.7rem;
					padding-bottom: 0.7rem;
					padding-left: 2.0rem;
				}
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		padding-top: 3.0rem;
		padding-bottom: 3.0rem;

		//h3
		h3{
			margin-bottom: 1.0rem;
			#circle{
				padding: 0.5rem 0;
				letter-spacing: -0.01rem;
				.block:nth-of-type(2){
					display: inline !important;
				}
			}
		}

		// photo ito
		#pointListPhoto{
			display: none;
		}

	}

}

//**********************************************************************
// #strongPoint
//**********************************************************************

#strongPoint{

	background: $gray;

	// h3
	//**************************************************************

	h3{
		text-align: center;
	}

	// .strongPointDetail
	//**************************************************************

	.strongPointDetail{

		//.circleTrimming
		.circleTrimming{
			overflow: hidden;
			margin: 0 auto;
			background-color: $gray;
			@include border-radius(50%);
		}

		//.btn
		.btns{

			margin: 1.0rem 0;

			li{

				display: inline-block;
				margin-right: 0.5rem;


				a{
					display: inline-block;
					border-bottom: 1px dotted;
					//padding: 0.5rem 1.0rem;
					//background: $gray;
					//@include border-radius(6px);
					text-decoration: none;
					color: $green;
					&:before{
						display: inline-block;
						margin-right: 0.2rem;
						font-size: 90%;
						font-family: icomoon;
						speak: none;
						content: "\e9d3";
					}
					&:hover{
						border-bottom: 1px solid !important;
						color: $darkGray;
					}
					&[href$=".pdf"]{
						&:before{
							display: inline-block;
							margin-right: 0.2rem;
							font-size: 90%;
							font-family: icomoon;
							speak: none;
							content: "\ea5b";
						}
					}
				}
			}
		}
	}
	
	//PC
	@media all and (min-width: $minWidth){

		padding-top: 7.0rem;
		padding-bottom: 7.0rem;

		/* .strongPointDetail */
		.strongPointDetail{

			margin-top: 5.0rem;
			margin-bottom: 5.0rem;

			//nth-child(odd)
			&:nth-child(odd){
				div:first-child{
					float: left;
				}
			}

			//nth-child(even)
			&:nth-child(even){
				div:first-child{
					float: right;
				}
				div:nth-of-type(2){
					float: left;
				}
			}

			.circleTrimming{
				width: 240px;
				height: 240px;
			}

			p{
				font-size: $normal * 1.1;
				line-height: 1.7rem;
			}

		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		h3{
			//margin-top: 0;
		}

		.strongPointDetail{
			margin: 0 auto 5rem;
			/*div{
				display: block;
				float: none;
				width: 100%;
			}*/
			h4{
				text-align: center;
			}			

			.circleTrimming{
				width: 290px;
				height: 290px;
			}
		}

	}

}

//**********************************************************************
// #recommend
//**********************************************************************

#recommend{

	background: $gray;

	h3{
		text-align: center;
		margin-bottom: 3.0rem;
	}
	//background-color: $white !important;

		
	// #
	//**************************************************************
		//margin-bottom: 5rem;

		/*
		div{
			text-align: center;

			&:last-child{
				margin-right: 0;
			}

			
		}*/

	.circleTrimming{
		overflow: hidden;
		display: block;
		margin: 0 auto;
		width: 240px;
		height: 240px;
		background-color: $white;
		@include border-radius(50%);
	}


			// h4
			h4{
				text-align: center;

			}

			// list
			ul{
				display: block;
				margin: 2.0rem 0;
				//border: 1px solid rgba($black, .05);
				//li
				li{
					position: relative;
					padding-top: 0.7rem;
					padding-bottom: 0.7rem;
					padding-left: 1.5rem;
					border-bottom: 1px solid rgba($black, .05);
					//padding-right: 0.5rem;
					//border-left: 0.5rem solid rgba($green, .3);
					//background-color: $white;
					text-align: left;
					word-wrap: break-word;

					/*&:not(:last-of-type){
						
					}*/

						//&:before
					&:before{
						position: absolute;
						top: 0.7rem;
						left: 0rem;
						font-family: icomoon;
						content: "\e66f";

					}
				}
			}

			// description
			p{
				text-align: left;
			}

		//PC
		@media all and (min-width: $minWidth){

			padding-top: 7.0rem;
			padding-bottom: 7.0rem;

			h3{
				.block{
					display: inline !important;
				}
			}

		}


		//Mobile
		@media all and (max-width: $maxWidth){

			h4{
				.block{
					display: inline !important;
				}
			}
			
			.col{
				&:not(:last-of-type){
					margin-bottom: 4.0rem;
				}
			}
			.circleTrimming{
				width: 290px;
				height: 290px;
			}
		}

	}

}