@charset "UTF-8";

article.purchase {

//**********************************************************************
// Extend class
//**********************************************************************

//.icomoon
.icomoon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3rem;
	font-family: icomoon;
	speak: none;
}


//**********************************************************************
// .purchaseDetails
//**********************************************************************

.purchaseDetails{

	//PC
	@media all and (min-width: $minWidth){
		margin-top: 5.0rem;
		margin-bottom: 5.0rem;
	}

	//Mobile
	@media all and (max-width: $maxWidth){
		margin-top: 3.0rem;
		margin-bottom: 3.0rem;
	}

}

}


//**********************************************************************
// .purchaseDetails
//**********************************************************************

.purchaseDetails{

	dl {
		dt {
			margin-top: 1.0rem;
			padding: 1.0rem 0 0.5rem 0;
			font-weight: bold;
		}
	}

	//PC
	@media all and (min-width: $minWidth){

		//.catTitle
		.catTitle{
			text-align: center;
		}

		//dl
		dl{
			dt{
				border-top: 1px dotted $gray;
			}
		}

		//.contentsPurchase
		.contentsPurchase{
			margin-bottom: 20px;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			padding-bottom: 1.0rem;
			border: 1px solid $gray;
			@include border-radius(6px);
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		//.contentsPurchase
		.contentsPurchase{
			margin-bottom: 3.0rem;
			padding-bottom: 3.0rem;
			border-bottom: 1px dashed $gray;
			&:first-of-type{
				margin-top: 3.0rem;
			}
		}

	}

}