@charset "UTF-8";


#staff{

	.contents{
		padding-top: 3.0rem;
		padding-bottom: 3.0rem;
	}

//**********************************************************************
// #aboutEcoland
//**********************************************************************


	// #staff
	//**************************************************************

	.ecolandStaff, #vehicle, #uniform{

		h3{
			text-align: center;
			margin-bottom: 2.0rem;

			.hl1{
				display: block;
				color: $green;
				font-size: $normal;
				line-height: 1.0rem;
			}
			.hl2{
				display: block;
				width: 60px;
				margin: 1rem auto;
				span{
					display: table-cell;
					width: 60px;
					height: 60px;
					vertical-align: middle;
					background-color: $green;
					@include border-radius(50%);

					font-size: 40%;
					color: $white;
				}
			}
			.hl3{
				font-size: $biggest;
			}
		}


		// threecol
		.threecol{

			margin-top: 2.0rem;
			margin-bottom: 2.0rem;

			//.circleTrimming
			.circleTrimming{
				width: 240px;
				height: 240px;
			}

			// h4
			h4{
				margin-top: 1.5rem;
				margin-bottom: 1.0rem;
				text-align: center;
				.small{
					margin-left: 0.5rem;
					font-size: $normal;
					letter-spacing: -0.05rem;
				}
			}

			// list
			ul{
				display: block;
				margin: 1.0rem 0;
				//li
				li{
					position: relative;
					padding-top: 0.7rem;
					padding-bottom: 0.7rem;
					padding-left: 1.5rem;
					border-bottom: 1px solid rgba($black, .05);
					//padding-right: 0.5rem;
					//border-left: 0.5rem solid rgba($green, .3);
					//background-color: $white;
					text-align: left;
					word-wrap: break-word;

					//&:before
					&:before{
						position: absolute;
						top: 0.7rem;
						left: 0rem;
						font-family: icomoon;
					}

					&:nth-of-type(1){ &:before{ content: "\e8f1"; } }
					&:nth-of-type(2){ &:before{ content: "\e8cc"; } }



				}
			}

			// description
			p{

				position: relative;
				text-align: left;
				padding: 0.5rem;

				&:after,
				&:before{
					font-family: icomoon;
					speak: none;
					padding-right: 0.3rem;
					font-size: $biggest * 1.2;
					color: rgba($black, .08);
					content: "\e91f";
				}
				&:before{
					position: absolute;
					top: -0.5rem;
					left: 0;
				}
				&:after{
					position: absolute;
					bottom: 0rem;
					right: 0rem;
					@include rotate(180deg);
				}

			}

		}

		//PC
		@media all and (min-width: $minWidthBig){
			.row{
				margin-bottom: 4rem;
			}
		}

		//Mobile
		@media all and (max-width: $maxWidthBig){
			h3{
				.hl3{
					font-size: 90%;
				}
			}
			.row{
				margin-bottom: 0;

				div.threecol{
					margin-bottom: 4rem;
				}
			}
			ul{
				width: 100%;
			}
		}

	}

	//PC
	@media all and (min-width: $minWidthBig){
		#uniform{
			div.threecol{
				&:nth-child(even){
					margin-top: 8rem;
				}
			}
		}
	}

}

.lstStaff {
	h3 {
		text-align: center;
	}
	.circleTrimming {
		overflow: hidden;
		@include border-radius(50%);
		border: 1px solid rgba($black, .05);
		background: $gray;
		display: inline-block;
		width: 75px;
		height: 75px;
	}
	.item {
		width: 31.5789% !important;
		margin-top: 1rem !important;
		border: none !important;
		color: $darkGray;
	}
	dl {		
		dt {
			float: left;
		}
		dd {
			float: right;
			background: $gray;
			@include border-radius(5px);
			padding: 1rem;
			width: 62%;
			small {
				display: block;
				font-size: 80%;
				text-align: right;
			}
		}
	}
}

.staffDetail {
	h3 {
		text-align: center;
		span {
			display: block;
			font-size: 80%;
		}
	}
	.circleTrimming {
		overflow: hidden;
		@include border-radius(50%);
		border: 1px solid rgba($black, .05);
		background: $gray;
		display: inline-block;
		width: 250px;
		height: 250px;
		margin-bottom: 2rem;
	}
	.staffDiary {
		.items {
			padding: 2rem 0;
			position: relative;
			background: {
				image: url("assets/img/staff/dot.jpg");
	 			position: center top;
	  			repeat: repeat-y;
	  		}
	  		&:before {
	  			content: "\e86e";
	  			font-family: "icomoon";
	  			font-size: $biggest*2;
	  			position: absolute;
	  			top: -10px;
	  			left: 47.6%;
	  		}
	  		&:after {
	  			content: "\e86e";
	  			font-family: "icomoon";
	  			font-size: $biggest*2;
	  			position: absolute;
	  			bottom: -10px;
	  			left: 47.6%;
	  		}
	  	}
	  	.noItems {
	  		text-align: center;
	  	}
		.item {
			&:nth-of-type(even) {
				float: right;
				.cnt {
					&:after {
						left: -8px;
						border-width: 0 8px 8px 0;
						border-color: transparent $gray transparent transparent;;
					}
				}
			}		
			&:nth-of-type(odd) {
				float: left;
				clear: both;
				.cnt {
					&:after {
						right: -8px;
						border-width: 8px 8px 0 0;
						border-color: $gray transparent transparent transparent;
					}
				}
			}
			.cnt {
				background: $gray;
				padding: 2rem 1rem;
				margin-bottom: 1.5rem;
				position: relative;
				&:after {					
					top: 10%;
					width: 0px;
					height: 0px;
					content: "";
					position: absolute;
					border-style: solid;					
				}
				p {
					margin-bottom: 1rem;
				}
				small {
					display: block;
					text-align: right;
					font-size: 80%;
				}
				img {
					width: 100%;
				}
			}						
		}
		.seemore {
			background: $gray;
			color: $darkGray;
			text-align: center;
			display: block;
			padding: 0.5rem 0;
			margin: 2rem 0;
			@include border-radius(5px);
		}

		//Mobile
		@media all and (max-width: $maxWidth){
			.diary {
				background: none;
				&:before, &:after {
					content: "";
				}
			}
			.sixcol {
				.item {
					&:after {
						border: none;
					}
				}
			}
			.seemore {
				margin: 0;
			}			
		}
	}
}