.unavailable {
	h2 {
		text-align: center !important;
	}
	.al_c {
		p {
			border-bottom: rgba($black, .1) solid 1px;
			width: 70%;
			margin: 0 auto;
			padding: 1rem 0;
		}
	}

	.sixcol {
		margin-top: 2rem;
		padding: 2rem;
		border-right: rgba($black, .1) solid 1px;
		&.last {			
			border: none;
		}
	}
}
