@charset "UTF-8";

/***********************************************************************

Form parts CSS

-----------------------------------------
INDEX
-----------------------------------------

***********************************************************************/

fieldset{
	display: block;
	border: 0;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 40px;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(14, 158, 161, .3);
	background: #ffffff;
}
input[id*="Etc"]:disabled{
	border: 1px solid transparent !important;
}
input[type="radio"]+label,
input[type="checkbox"]+label{
	margin-right: 1.0rem;
	margin-left: 0.3rem;
	padding: 0.3rem 0;
	height: 40px;
	line-height: 30px;
	 vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input:checked+label{
	padding: 0.3rem 0;
	color: #000000;
}
select,
option{
	height: 40px;
	line-height: 1.5rem;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(14, 158, 161, .3);
	background: #ffffff;
	-webkit-appearance: none;
}
textarea{
	width: 100%;
	line-height: 1.7rem;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(14, 158, 161, .3);
}

/* checked & disabled & selected*/

#confirm input:disabled{
	border: 1px solid transparent;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
    vertical-align: middle;
	line-height: normal;
}
#confirm input:checked+label{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background: rgba(226, 49, 140, .1);
	font-weight: bold;
}
#confirm select[disabled]{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 1px solid transparent;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
}
#confirm textarea:disabled{
	border: 1px solid transparent;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
    vertical-align: middle;
	line-height: normal;
}

/* placeholder
***********************************************************************/

::-webkit-input-placeholder{
	color: #666464;
	font-weight: normal;
	font-size: 12px;
	line-height: 2.0em;
}
:-moz-placeholder{
	color: #666464;
	font-weight: normal;
	font-size: 12px;
 }
::-moz-placeholder{
	color: #666464;
	font-weight: normal;
	font-size: 12px;
}
:-ms-input-placeholder{
	color: #666464;
	font-weight: normal;
	font-size: 12px;
	line-height: 2.0em;
}

/* formContents
***********************************************************************/

.formContents{
	position: relative;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	/* .formTitle*/
	.formTitle{
		position: relative;
		font-weight: bold;
	}
	.formTitle:before{
		display: inline-block;
		margin-right: 0.5rem;
		padding: 0 0.3rem;
		width: 40px;
		font-size: 10px;
		font-weight: normal;
		color: #ffffff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}
	.required .formTitle:before{
		content: "必須";
		background: #e2318c;
	}
	.ok:before{
		background: #009ea1 !important;
		font-family: "icomoon";
		speak: none;
		content: "OK" !important;

	}
	#confirm .required .formTitle:before{
		background: #d3d3d4 !important;
	}

	/* .formElements*/
	.formContents .formElements{
		position: relative;
	}
	.formContents .formElements p{
		margin: 0.5rem 0;
	}
	.formContents .formElements li{
		display: inline-block;
		padding: 0.3rem 0;
		vertical-align: top;
	}

	.formContents .formElements ul ul{
		margin-left: 0.5rem;
		padding-left: 1.0rem;
		border-left: 1px dotted #d3d3d4;
	}
	.formContents .formElements ul ul li{
		padding-top: 1.0rem;
	}
	.formContents .formElements ul ul ul{
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
	.formContents .formElements ul ul ul li{
		padding-top: 0 !important;
	}
	.formContents .formElements .formElement{
		display: block;
		position: relative;
		width: 100%;
	}



	/* cltDay*/
	#cltDay li{
		display: block;
	}
	#cltDay li ul{
		margin-left: 1.0rem;
	}
	#cltDay li ul li{
		display: inline-block;
	}

	/* .subtitle*/
	#fwForm .formElements .subtitle{
		font-weight: bold;
	}
	#fwForm .formElements .fwList > ul{
		border-left: 1px solid #dddddd;
		margin-left: 0.3rem;
		padding: 1.0rem 1.0rem 0 1.0rem;
	}
	#fwForm .errormsg{
		background: none;
	}




/* formBtns
***********************************************************************/

.formBtns{
	text-align: center;
	margin: 0 auto;
}
	.formBtns li{
		display: inline-block;
		padding: 0 1.0rem;
	}
	.formBtns input[type="submit"]{
		position: relative;
		-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		padding: 0.7em 1.0em 0.5em 1.0em;
		border: none;
		background: #009ea1;
		border-bottom: 3px solid #002949;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, .9);
		filter: dropshadow(color=#000000, offx=0, offy=0);
		cursor: pointer;
	}
	.formBtns input[type="submit"]:hover{
		background: rgba(0, 0, 0, .5) !important;
	}
	.formBtns li:last-child input[type="submit"]{
		background: #e2318c;
	}

/* errormsg
***********************************************************************/

.errormsg{
	display: block;
	color: #e2318c;
	border-bottom: none !important;
}


/* focus
***********************************************************************/


.msg{
	position: absolute;
	padding: 0 0.5rem;
	color: #fff;
	font-size: 12px;
	text-align: left;
	line-height: 1.0rem;
}
.msg:before{
	display: inline;
	padding-right: 0.2rem;
	font-family: "icomoon";
	speak: none;
}
input+.msg,
select+.msg{
	padding-left: 0.2rem;
}
.error{
	background: rgba(226, 49, 140, .1) !important;
	border: 1px solid rgba(226, 49, 140, .3) !important;
}
.errorMsg{
	background: #e2318c;
	color: #ffffff;
}
.errorMsg:before{
	content: "\e0ff";
}
.correct{
	background: rgba(14, 158, 161, .1) !important;
	border: 1px solid rgba(14, 158, 161, .3) !important;
}
.correctMsg{
	background: #009ea1;
	color: #ffffff;
}
.correctMsg:before{
	content: "\e105";
}
.focus{
	background: rgba(211, 211, 212, .1) !important;
	border: 1px solid rgba(211, 211, 212, 1) !important;
}

	/* PC & Tablet settings
	***********************************************************************/

	@media only screen and (min-width: 600px){

		/* form elements*/
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="date"],
		input[type="password"]{
			width: 300px;
		}
		label+input[type="text"]{
			margin-left: 0.5rem;
		}
		input[type="radio"]+label,
		input[type="checkbox"]+label{
			display: inline-block;
		}
		textarea{
			min-height: 86px;
		}
		/* .formContents*/
		.formContents{
			display: table;
			width: 100%;
			padding: 1.0rem 0;
			border-bottom: 1px dotted #d3d3d4;
		}
		.fullwidthForm{
			border-top: 1px dotted #d3d3d4;
			margin-top: 1.0rem
		}
		.formContents .formTitle{
			display: table-cell;
			width: 30%;
			border-right: 1px solid #d3d3d4;
			margin-bottom: 1.0rem;
			vertical-align: middle;
		}
		.formContents .formElements{
			display: table-cell;
			vertical-align: middle;
		}
		.formContents .formTitle+.formElements{
			padding-left: 1.5rem;
		}
		.formContents .formElements input[type="radio"]:first-child{
			margin-left: 0.1rem;
		}

		#fwForm .formContents{
			display: block;
			border-bottom: none;
		}
		#fwForm .formTitle,
		#fwForm .formElements{
			display: block;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		#fwForm .formTitle+.formElements{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		#fwForm .formTitle{
			margin-bottom: 1.0rem;
			padding: 0.3rem;
			border-right: none;
			background: rgba(0, 0, 0, .05);
		}
		#fwForm .formElements{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		#fwForm .formElements .fwList{
			width: 100%;
		}
		#fwForm .formElements .subtitle{
			line-height: 40px;
		}
		#replyWay .formElements ul li{
			display: inline-block;
		}
		#cstmInfoTitle{
			margin-top: 2.0rem;
			padding: 0.3rem;
			background: rgba(0, 0, 0, .05);
			font-weight: bold;
		}
		#causesRank li{
			display: block;
		}
		#causesRank li select{
			min-width: 500px;
		}

		/* .formBtns*/
		.formBtns{
			margin: 1.0rem 0;
		}
		.formBtns input[type="submit"]{
			font-size: 18px !important;
		}

		.msg{
			left: 0;
			bottom: -1.0rem;
		}
		#fwForm .msg{
			left: 0 !important;
			bottom: 0rem !important;
		}

	}


	/* Mobile settings
	***********************************************************************/

	@media only screen and (max-width: 599px){

		/* form elements*/
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="date"],
		input[type="password"]{
			width: 100%;
			max-width: 100%;
			padding: 0.5rem;
		}
		input[type="date"]{
			min-height: 40px !important;
			height: inherit;
		}
		input[type="submit"]{
			-webkit-appearance: none;
			padding-bottom: 0.7rem !important;
		}
		textarea{
			min-height: 160px;
		}

		/* .formContents*/
		.formContents{
			padding: 1.0rem 0 0 0;
		}
		.formContents .formTitle{
			padding-top: 1.0rem;
			margin-bottom: 0.5rem;
			border-top: 1px solid rgba(0, 0, 0, .1);
		}
		.formContents .formElements li{
			display: block;
		}
		#cltdItems .formElements li{
			display: inline-block;
		}
		#fwForm .formElements .subtitle{
			display: block;
			margin-bottom: 1.0rem;
		}
		#cstmInfoTitle{
			display: none;
		}
		#inquiryCltItems li{
			display: inline-block;
		}
		#inquiryCstmInfo .errormsg{
			margin-bottom: 1.0rem;
			padding: 0;
			background: none;
		}

		/* .formBtns*/

		.formBtns{
			margin-bottom: 2.0rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			padding-top: 1.0rem;
			border-top: 1px solid #d3d3d4;
			-webkit-appearance: none;
		}
		.formBtns li{
			display: block;
			margin-bottom: 0.5rem;
			padding: 0;
		}
		.formBtns input[type="submit"]{
			width: 100%;
			font-size: 16px !important;
		}

		.msg{
			left: 0 !important;
			right: 0 !important;
			bottom: -20px !important;
		}


	}