// Compass library
@import "compass";
@import "compass/reset";
@import "compass/css3";

//mixin
@mixin arrow($top, $bottom, $left, $right, $size: 4px, $color: #000000, $border: left){
	display: block;
	position: absolute;
	@if $top != "" { top: $top; }
	@if $bottom != "" { bottom: $bottom; }
	@if $left != "" { left: $left; }
	@if $right != "" { right: $right; }
	width: 0px;
	height: 0px;
	border: $size solid transparent;
	@if $border == left { border-left-color: $color; }
	@if $border == right { border-right-color: $color; }
	@if $border == top { border-top-color: $color; }
	@if $border == bottom { border-bottom-color: $color; }
	content: "";
}

//animation settings
@mixin transform_time ($time: 1s) {
	-webkit-transition: $time ease-in-out;
}
@mixin transform_to_scale ($scale: 1) {
	-moz-transform: scale($scale);
	-webkit-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}

//vendor prefix
$prefixList: -webkit-, -moz-, null;

//breakpoints
$minWidthSmall: 376px;
$maxWidthSmall: 375px;
$minWidth: 769px;
$maxWidth: 768px;
$minWidthBig: 1025px;
$maxWidthBig: 1024px;

//fontsize
$small: 8pt;
$smaller: 10pt;
$normal: 100%;
$bigger: 17pt;
$big: 19pt;
$biggest: 21pt;

//color settings
$green: #009ea1;
$pink: #e2318c;
$yellow: #fccb00;
$orange: #f15b29;
$darkBlue: #002949;
$darkGray: #444848;
$gray: #f0f0f0;
$black: #000000;
$white: #ffffff;
$red: #CD0300;
$blue: #04278B;
$twitter: #55acee;
$facebook: #3b5998;
$google: #D34836;

//extend
.btn{
	border: 1px solid rgba($black, .1);
	@include border-radius(6px);
	background: rgba($black, .05);
	color: $darkGray;
	text-decoration: none;
	&:hover{
		border: 1px solid rgba($darkBlue, .5) !important;
		background: rgba($darkBlue, .8) !important;
		color: $white;
	}
}

//import parts
@import "base/font.scss";
@import "base/common.scss";
@import "base/decoration.scss";

@import "parts/table.scss";
@import "parts/list.scss";
@import "parts/form.scss";
@import "parts/link.scss";
@import "parts/contact.scss";
@import "parts/plugin.scss";

@import "pages/article.scss";
@import "pages/columns.scss";
@import "pages/campaign.scss";
@import "pages/inquiry.scss";

@import "pages/home.scss";
@import "pages/ecokaishu.scss";
@import "pages/flow.scss";
@import "pages/price.scss";
@import "pages/about.scss";
@import "pages/faq.scss";
@import "pages/problems.scss";
@import "pages/staff.scss";
@import "pages/accomplishment.scss";
@import "pages/concierge.scss";
@import "pages/voice.scss";
@import "pages/lp.scss";
@import "pages/unavailable.scss";