@charset "UTF-8";

//**********************************************************************
// Extend class
//**********************************************************************

//.icomoon
.icomoon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3rem;
	font-family: icomoon;
	font-size: 90%;
	speak: none;
}

//**********************************************************************
// .navPage
//**********************************************************************

.navPage{

	margin-bottom: 3.0rem;
	padding: 0.3rem 0;
	background: rgba($black, .03);
	font-size: 80%;

	// .crumb
	//**************************************************************

	.crumb{

		display: inline-block;
		&:not(:last-of-type){
			margin-right: 0.5rem;
			&:after{
				padding-left: 0.5rem;
				color: $darkGray;
				font-family: icomoon;
				speak: none;
				content: "\00BB";
			}
		}

		//a
		a{
			color: $green;
			text-decoration: none;
			&:hover{
				color: $pink;
			}
		}

		//&:first-of-type
		&:first-of-type{
			&:before{
				margin-right: 0.3rem;
				font-family: icomoon;
				font-size: 90%;
				speak: none;
				content: "\e8d8";
			}
		}

		//&:last-of-type
		&:last-of-type{
			a{
				color: $darkGray;
			}
		}

	}

}

//**********************************************************************
// .listDefi
//**********************************************************************

.listDefi{

	//dt
	> dt{
		position: relative;
		&:not(:first-of-type){
			margin-top: 0.5rem;
		}
		&:before{
			@extend .icomoon;
			content: "\e862";
		}
	}

	//dd
	dd{
		position: relative;
		padding-left: 22px;
		small{
			color: rgba($black, .7);
		}
		dl{
			font-size: 90%;
			dt{
				margin-top: 0 !important;
				&:before{
					@extend .icomoon;
					color: $green;
					content: "\e862";
				}
			}
		}
	}

	> li{
		position: relative;
		&:not(:first-of-type){
			margin-top: 0.5rem;
		}
		&:before{
			@extend .icomoon;
			content: "\e862";
		}
	}

}


//**********************************************************************
// .listFaq
//**********************************************************************

.listFaq{

	// dt, dd
	//**************************************************************

	dt,dd{

		position: relative;
		padding:{
			top: 1.0rem;
			bottom: 1.0rem;
			right: 1.0rem;
		}
		background: $white;

		//&:before
		&:before{
			font-family: icomoon;
			speak: none;
			line-height: 1.0em;
		}
	}

	// dt
	//**************************************************************

	dt{
		position: relative;
		background: rgba($black, .03);
		&:before{
			content: "\e99f";
		}
		&:after{
			display: block;
			position: absolute;
			bottom: 0;
			width: 2px;
			height: 1.0rem;
			margin-bottom: -1.0rem;
			background: rgba($green, .05);
			content: "";
		}
	}

	// dd
	//**************************************************************

	dd{
		margin-top: 1.0rem;
		margin-bottom: 2.0rem;
		background: rgba($green, .1);
		&:before{
			color: $green;
			content: "\e981";
		}
	}

	//PC
	@media all and (min-width: $minWidth){

		dt,dd{

			padding-left: 3.5rem;

			//&:before
			&:before{
				position: absolute;
				top: 50%;
				left: 1.0rem;
				margin-top: -10px;
				font-size: $bigger;
			}
		}

		dt{
			&:after{
				left: 1.6rem;
			}
		}

	}

	//Mobile
	@media all and (max-width: $maxWidth){

		dt,dd{

			padding-left: 1.0rem;

			//&:before
			&:before{
				display: block;
				margin-bottom: 0.5rem;
				text-align: center;
				font-size: $normal;
			}
		}

		dt{
			&:after{
				left: 50%;
				margin-left: -1px;
			}
		}

	}


}

//**********************************************************************
// .listBtn
//**********************************************************************

.listBtn{

	//Mobile
	@media all and (max-width: $maxWidth){

		overflow: hidden;
		border: 1px solid rgba($black, .1);
		@include border-radius(6px);
		background: $white;

		//li
		li{
			display: block;
			position: relative;
			font-size: $normal * 1.2;

			//:not(:last-of-type)
			&:not(:last-of-type){
				border-bottom: 1px solid rgba($black, .1);
			}

			//]after
			&:after{
				display: block;
				position: absolute;
				top: 50%;
				right: 1.0rem;
				width: 0;
				height: 0;
				margin-top: -8px;
				border: 4px solid transparent;
				border-left-color: $darkGray;
				content: "";
			}

			//a
			a{
				display: block;
				padding: 1.5rem 0.5rem;
				color: $darkGray;
				text-decoration: none;
			}

		}

	}

}

//**************************************************************
// .listPosts
//**************************************************************

.listPosts{

	>ul{

		>li{

			border-bottom: 1px solid rgba($black, .05);

			a{
				display: block;
				padding: 0.5rem 0;
				color: $darkGray;
				text-decoration: none;
			}
			.cat{
				display: block;
				color: $green;
				font-size: 90%;

			}

		}
	}

	#faq{
		li{
			a{
				&:before{
					font-family: icomoon;
					speak: none;
					margin-right: 0.5rem;
					content: "\e99f";
				}
			}
		}
	}

}


//**************************************************************
// .archiveList
//**************************************************************

.archiveList{


	> li{

		padding: 1.0rem 0;

		&:not(:last-of-type){
			border-bottom: 1px dashed rgba($black, .1);
		}

		//Mobile
		@media all and (max-width: $maxWidth){
			//.date
			.date{
				text-align: left !important;
				&:before{
					//@extend .icon;
					content: "\e8f7";
				}
			}

			//.cats
			.cats{
				&:before{
					//@extend .icon;
					content: "\e8d8";
				}
			}

			//.campaignOpen
			.campaignOpen{
				text-align: left !important;
				&:before{
					//@extend .icon;
					content: "\e8c4";
				}
			}

		}

	}

}

//**************************************************************
// .listItems
//**************************************************************

.listItems{

	ul{
		li{
			display: inline-block;
			font-size: 90%;

			a{
				display: block;
				margin-bottom: 0.3rem;
				margin-right: 0.3rem;
				padding: 0.3rem 0.5rem;
				background: rgba($white, .5);
				border: 1px solid rgba($black, .1);
				@include border-radius(3px);
				color: $darkGray;
				text-decoration: none;
			}

		}
	}

}

//**************************************************************
// .listSns
//**************************************************************

.listSns{

	//ul
	ul{

		//li
		li{

			display: inline-block;

			//a
			a{

				display: inline-block;
				text-align: center;
				vertical-align: middle;
				&:before{
					display: inline-block;
					font-family: icomoon;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					font-size: $biggest;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&#shareFacebook a{
				&:before{
					content: "\e885";
					color: $facebook;
				}
			}
			&#shareTwitter a{
				&:before{
					content: "\e883";
					color: $twitter;
				}
			}
			&#shareGoogle a{
				&:before{
					content: "\e888";
					color: $google;
				}
			}

			//.label
			.label{
				display: none;
			}

		}

	}

}


//**********************************************************************
// .listPoints
//**********************************************************************

.listPoints{

	margin: 0 auto;

	//li
	li{
		position: relative;
		padding-top: 1.0rem;
		padding-bottom: 1.0rem;
		border-bottom: 1px solid $gray;
	}

	//PC
	@media all and (min-width: $minWidth){
		width: $maxWidth;
		text-align: center;
	}

}

//**************************************************************
// .wp-pagenavi
//**************************************************************

.wp-pagenavi{

	.pages,
	.nextpostslink,
	.previouspostslink{
		border: none;
	}

	.current{
		border: 1px solid rgba($black, .05) !important;
		background: rgba($black, .1);
	}

	.page{
		&:hover{
			border: 1px solid rgba($pink, .8);
		}
	}

}