/* 2014.4.10 キャンペーン情報module化に伴う変更*/

.mainVisual{
	padding: 70px 0;
	text-align: center;
}
#kyan td p{
	margin: 0 !important;
	font-size: 16px !important;
}
#kyan td dt,
#kyan td dd{
	float: left;
}
#kyan td dt{
	clear: both;
	margin-right: 10px;
}