@charset "UTF-8";

/***********************************************************************
1. Reset settings
***********************************************************************/

body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
p,blockquote,table,th,td{ margin: 0; padding: 0;}

html{ background: #FFF; color: #454545; -webkit-font-smoothing: antialiased; }

body{
	line-height: 26px;
	font-family: Meiryo, "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
	font-size: 16px;
}
* html body{ font-size: small; font: x-small; }
*:first-child+html body{ font-size: small; font: x-small;}

img{ border: 0; width: auto; height: auto; }

h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}

ul,dl,ol{ text-indent: 0;}
li{ list-style: none;}

address,caption,cite,code,dfn,em,th,var{ font-style: normal; font-weight: normal;}

sup{ vertical-align: text-top;}
sub{ vertical-align: text-bottom;}

input,textarea,select{ font-family: inherit; font-size: inherit; font-weight:inherit;}
* html input,* html textarea,* html select{ font-size: 100%;}
*:first-child+html+input,*:first-child html+textarea,*:first-child+html select{ font-size: 100%;}

table{ border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%;}
th,td{ text-align: left; vertical-align: top; font-size:16px;}
caption{ text-align: left;}

pre,code,kbd,samp,tt{ font-family: monospace;}
* html pre,* html code,* html kbd,* html samp,* html tt{ font-size: 108%; line-height: 100%;}
*:first-child+html pre,*:first-child html+code,*:first-child html+kbd,*:first-child+html+samp,*:first-child+html tt{ font-size: 108%; line-height: 100%;}

input,select,textarea{ margin:0; padding:0; outline: none; font-size: 100%; font: 14px/1 Meiryo, "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica; }
span.skype_pnh_container{ display:none !important;}
span.skype_pnh_print_container{ display:inline !important;} 

body{
	background-image:url(../../img/legacy/background_content.jpg);
	background-repeat:repeat;
	margin: 0 auto;
}


.container{
	position: relative;
}
.block{
	display: block;
}
.clear{
	clear: both;
}

#glayLayer{
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}
#overLayer{
	display: none;
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -525px;
}

#quizAnswer aside{
	z-index: 100 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 75px 0;
	background: #002949;
}


.title-icon{
	 margin:18px 5px 10px 0;
 	 width: 35px;
	}




/***********************************************************************
h tag
***********************************************************************/

h3 span[aria-hidden]{
	display: inline-block;
	padding-right: 5px;
	font-size: 80%;
}
h4{
	margin-top: 17px;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
}
h5{
	margin-bottom: 16px;
	line-height:24px;
}

/***********************************************************************
#header
***********************************************************************/

#header{
	border-top: 3px solid #002949;
	line-height: 19px;
	height: 40px;
}


#header_main {
    margin: 0 auto;
    width: 1040px;
}

	/* #header h1
	*******************************************************************/

	#header h1{
		position: relative;
		padding-left: 70px;
	}
	
	#header h1 #badge {
	font-size: 16px;
	background-image: url("../../img/legacy/header.png");
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: inline-block;
	height: 70px;
	left: -17px;
	padding: 7.5px 0 0;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 60px;
	line-height: 20px;
}

	/* #header #telNum
	*******************************************************************/

	#header #telNum{
	padding: 7.5px 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #0E9EA1;
	}
		#header #telNum span:first-child{
			font-size: 24px;
			line-height: 16px;
		}
		
	#tel img{
		margin:5px 3px 0;
		float:left;
	}
	
	#tel{
		font-size:24px;
		color:#FFFFFF;
		vertical-align:middle;
		line-height:normal;
		font-weight:bold;
	}
	
	#small_tel{
		font-size:16px;
		color:#FFFFFF;
		vertical-align:middle;
		line-height:20px;
	}
	
	.header_right {
	maring: 0 6px;
	position: absolute;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 30px;
}

/***********************************************************************
#intro
***********************************************************************/

#intro{
	padding: 30px 0;
	background-color: #EDEDED;
	background-image:url(../../img/legacy/background_content_01.jpg);
	background-repeat:repeat;
	padding:50px 0 20px;
}
	#intro h2{
		margin-bottom: 15px;
	}

/***********************************************************************
#camp
***********************************************************************/

#camp{
	padding: 30px 0;
	color: #ffffff;
	background-color: #23A4A9;
}
#camp h2{
	font-size: 19px;
}


	#camp h3{
	/* [disabled]font-size: 100%;*/
	}
	#camp p{
	color: #444848;
	font-size: 15px;
	}
	#camp #expl p{
	margin: 7.5px 0 15px 0;
	font-size: 32px;
	color: #ffffff;
	line-height: 40px;
	}
	#camp #expl small{
		font-size: 60%;
	}
	#camp{
		padding:50px;
	}
	
	#camp .twocol{
		position: relative;
	}
	#camp table{
		margin-bottom: 15px;
		font-size: 16px;
	}
		#kyan tr{
			margin-bottom: 0;
			border: 1px solid #73BDC0;
		}
		#kyan th{
			background:#22A2A5;
			border: 1px solid #73BDC0;
		}
		
		#kyan td{
		border: 1px solid #73BDC0;
		vertical-align: middle;
		}
		
		#kyan .kyan_tdth{
			background:#21989C;
		}
			
		#camp #campImg{
			padding-top:80px;
		}

	/* PC settings 
	*******************************************************************/

	@media only screen and (min-width: 768px){

		#camp #campImg{
	padding-top: 130px;
		}
		#camp #kyan th,
		#camp #kyan td{
			padding: 7.5px;
			border: 1px solid rgba(255, 255, 255, .1);
		}

	}

	/* Mobile settings 
	*******************************************************************/

	@media only screen and (max-width: 767px){
		
		#camp tr{
			margin-bottom: 0;
			background: none !important;
		}
		#camp th{
			background: rgba(0, 0, 0, .05);
		}
		#camp td{
			background: none;
		}
		#camp #expl p:first-of-type{
			font-size: 24px;
		}

	}

/***********************************************************************
#reasons
***********************************************************************/

	/* #reasons h4
	*******************************************************************/

	#reasons h4{
		position: relative;
		float:left;
		width:400px;
	}
	
	.riyu{
		margin: 15px 0 30px;
		}

	/* #reasons p
	*******************************************************************/

	#reasons p{
	font-size: 18px;
	line-height: 27px;
	}

/***********************************************************************
#voices
***********************************************************************/

#voices{
	position:relative;
	overflow: hidden;
}

	/* #voices dl
	*******************************************************************/

	#voices dl{
		position: relative;
		z-index: 3;
		margin-top: 40px;
	}
	#voices dl dt{
		font-size:16px;
	}
		
		#voices dl dd{
			position: relative;
			margin-bottom: 15px;
			padding: 15px;
			background: #ffffff;
			font-size: 18px;
			display: inline-block;
			border: 1px solid #d3d3d4;
		}
		
		.dd1{
			width:670px}
		.dd2{
			width:450px}
		.dd3{
			width:540px}
		.dd4{
			width:760px}
		.dd5{
			width:890px}
		
		#voices dl dd:before{
			position: absolute;
			top: 10px;
			left: -12px;
			width: 0px;
			height: 0px;
			display: inline-block;
		}
		
		#voice h3{
			margin:30px 0;
		}
/***********************************************************************
#flow
***********************************************************************/

#flow{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #6EC5C7;
}

	/* #flow ol
	*******************************************************************/

#step{
		margin-top:40px;

}
	
.fourcol{
	position: relative;
	border: 1px solid #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#flowStep{
	display: block;
	background: #666464;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}
#flow #step .content{
	background: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}
#flow #step h4{
	margin: 0;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	color: #454545;
	background-color: #ffffff;
	background-image: url(../../img/legacy/step.jpg);
	background-repeat: repeat;
}	
.content img{
	margin: 15px auto 0;
	border: 2px solid #ffffff;
}			
.flow_txt{
	margin: 15px;
	color: #454545;
	text-align: left;
	font-size:16px;
}
			
#flow #step .fourcol{
	background:#666464;
	text-align:center;	
	color:#fff;
}
				
.next{
   	float: left;
   	margin: 3px 14px;
}




/***********************************************************************
#cost
***********************************************************************/

    #cost{
		clear:both;
		padding:50px 0;
	}


	#cost #em{
		margin-bottom: 15px;
		font-size: 18px;
	}

	#cost table{
		background: #ffffff;
	}

	/* #cost #howto
	*******************************************************************/

	/* .eqat*/
	
	.keisan{
		float:left;
		margin:30px 1px 0;
		}
#cost #howto .eqat2{
	border: 1px solid #f5f5f5;
	padding: 0.7em;
	line-height: 1.2rem !important;
	vertical-align: middle;
}
	
	#cost #howto .eqat1{
	border: 1px solid #999999;
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin: 0;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 120px;
	}
		
		#cost #howto .eqat1 .block{
			font-size: 16px;
			font-weight: bold;
		}
		#cost #howto .eqat1 .small{			
			line-height: 15px;
		}
		#cost #howto .eqat1.minus{
	background: #d3d3d4;
	float: left;
	width: 120px;
		}
		#cost #howto .eqat1.sum{
	background: #009ea1;
	color: #ffffff;
	text-align: center;
	float: left;
	width: 120px;
		}
		#cost #howto .eqat1.sum .per{
			font-size: 21px;
			font-weight: bold;
		}
		#cost #howto .content{
			position: relative;
		}

	/* #event*/
	#cost #howto #event{
		position: relative;
		margin: 15px 0;
		padding: 15px;
		border: 2px solid #002949;
		text-align: center;
		font-size: 16px;
	}
		#cost #howto #event a{
			display: inline-block;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			color: #ffffff;
			text-decoration: none;
			background: #f15b29;
			padding: 7.5px 15px;
		}
		#cost #howto #event a:hover{
			background: rgba(0, 0, 0, .3);
		}




/*************************************************************************************************************/



/***********************************************************************
#cost
***********************************************************************/

	#cost #em{
		font-size: 18px;
	}

	#cost table{
		background: #ffffff;
	}

	/* #cost #howto
	*******************************************************************/

	/* .eqat*/
	#cost #howto .eqat{
	margin: 0;
	width: 20px;
	height: 20px;
	background: #ffffff;
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 120px;
	border: 1px solid #D6D6D6;
	}
	
	howto .eqat .block{
			font-size: 16px;
			font-weight: bold;
			float:left;
		}
		#cost #howto .eqat.minus{
			position: relative;
			background: #d3d3d4;
			float:left;
		}
		#cost #howto .eqat.sum{
			position: relative;
			background: #009ea1;
			color: #ffffff;
			text-align: center;
			float:left;
		}
		#cost #howto .eqat.sum .per{
			font-size: 21px;
			font-weight: bold;
		}
		#cost #howto .content{
			position: relative;
		}

	/* #event*/
	#cost #howto #event{
		position: relative;
		border: 2px solid #002949;
		text-align: center;
		font-size: 16px;
	}
		#cost #howto #event a{
			display: inline-block;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			color: #ffffff;
			text-decoration: none;
			background: #f15b29;
		}
		#cost #howto #event a:hover{
			background: rgba(0, 0, 0, .3);
		}

		.keisan{
			float:left;
			margin:20px 2px;
		}

/*************************************************************************************************************/








/***********************************************************************
#serviceArea
***********************************************************************/

#serviceArea{
		padding:50px 0;
  width: 1040px;
  margin: 0 auto;
}
	#serviceArea h3{
		margin-bottom: 40px;
  /margin-bottom: 20px;
  line-height: 1;
	}
	#serviceArea img{
		display: block;
	}
	#serviceArea .threecol{
	margin-bottom: 30px;
		}
	#serviceArea .threecol dt{
	font-size: 18px;
	font-weight: bold;
	margin: 0 14px;
	padding-left: 1px;
	}
	#serviceArea .threecol dd{
		font-size: 14px;
		margin-bottom: 15px;
		padding-left: 15px;
	}
	#serviceArea .threecol1{
	margin: 0; 
	}
	#serviceArea .threecol1 dt{
	font-size: 18px;
	font-weight: bold;
	margin: 0 14px;
	padding-left: 1px;
	}
	#serviceArea .threecol1 dd{
		font-size: 14px;
		margin-bottom: 15px;
		padding-left: 15px;
	}

	
#serviceArea .title-icon img {
  display: inline;
}

#serviceArea .green_map{
  display: inline;
  position:relative;
  margin-right:3px;
  top:3px;
}

#serviceArea .footnote{	
	color: #666464;
	line-height: 19px;
	display:inline;
}

#serviceArea p.small {
  padding-top: 10px;
  
}
*:first-child+html #serviceArea p.small {
  padding-top: 5px;
}


#small{
	display:inline;
}

#serviceArea .onecol {
    float: left;
    margin: 0;
    width: 230px;
}



/***********************************************************************
#corp
***********************************************************************/

#corp{
	padding: 50px;
	background-color: #6EC5C7;
}

	#corp h3{
		margin-bottom: 16px;
	}
	#corp table{
		background: #ffffff;
	}

/***********************************************************************
.contact
***********************************************************************/

.contact{
	padding: 30px 0;
	overflow: hidden;
	background-color: #0A2846;
}

	/* .contact .fourcol a
	*******************************************************************/

		.contact #btns a#tel{
			background: #009ea1;
		}
		.contact #btns a#estimate{
			background: #e2318c;
		}
		.contact #btns a#contact{
			background: #f15b29;
		}
		.contact #btns a .btn:before{
			line-height: 16px;
			margin-bottom: 12px;
			font-family: "icomoon";
			speak: none;
			font-size: 80%;
			padding-right: 4px;
			font-weight: normal;
		}
		.contact #btns a#tel .btn:before{
			content: "\e046";
		}
		.contact #btns a#estimate .btn:before{
			content: "\e0bd";
		}
		.contact #btns a#contact .btn:before{
			content: "\e075";
		}
		.contact #cc{
			position: relative;
		}

/***********************************************************************
.footer
***********************************************************************/

#footer{
	padding: 15px 0;
	color: #ffffff;
	text-align: center;
	background-color: #009EA1;
}


/***********************************************************************
*************************************************************************
PC settings************************************************************* 
*************************************************************************
***********************************************************************/

.container{
	width: 1040px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 0px;
	
}
.contents{
	padding: 50px 0;
}

.options_txt{
	width:320px;
}

.onecol{
	float: left;
	width: 230px;
	margin: 20px 0;
}

#onecol .table_title{
	height:40px;
}

.twocol{
	float: left;
	width: 49.01096%;
	margin: 10px 0;
	font-size:16px;
}
.twocol1{
	float: left;
	width: 500px;
	margin: 10px 0;
	padding: 0 5px;
}
.threecol{
	float: left;
	width: 74.50980%;
}
.threecol1{
	float: left;
	width: 74.50980%;
}
.fourcol{
	float: left;
	width: 230px;
	background:#FFFFFF;
}
.last{
	float: right;
	margin-right: 0;
}




/***********************************************************************
h tag
***********************************************************************/

h3{
	font-size: 42px;
	/* [disabled]line-height: 30px;*/
	text-decoration: none;
}
h4{
	font-size: 28px;
	line-height: 35px;
}
h5{
	font-size: 21px;
	line-height: 30px;
}

/***********************************************************************
#header
***********************************************************************/

#header #title{
	/*display: table;*/
	width: 200px;
	float:left;
}

#header h1, #header #telNum {
	float: left;
	width: 350px;
	height: 20px;
	font-size: 16px;
	padding-top: 12px;
	padding-right: 80px;
	padding-left: 60px;
}

	/* #header #telNum
	*******************************************************************/

	#header #telNum{
	color:#FFFFFF;
	}
		#header #telNum p:first-child{
			font-weight: bold;
			/*display: table-cell;*/
			color:#FFFFFF;
		}


/***********************************************************************
#reasons
***********************************************************************/

#reasons{
	padding:50px 0;
	background:url(../../img/legacy/bg.gif);
}

/***********************************************************************
#flow
***********************************************************************/

	/* #flow ol
	*******************************************************************/

			
	
/***********************************************************************
#voices
***********************************************************************/

	/* #voices #voicesImg
	*******************************************************************/

	#voices #voicesImg{
		position: absolute;
		right: 0;
		bottom: 0;
		display: inline;
	}
	#voices #voicesImg p{
		z-index: 1;
		position: absolute;
		bottom: 0;
		right: 0;
		top: -100px;
		width: 200px;
		color: #ffffff;
		background: rgba(226, 49, 140, 1);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		padding: 22.5px;
	}
	#voices #voicesImg p:after{
		position: absolute;
		right: 75px;
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-top-color: #e2318c;
		border-left-color: #e2318c;
		content: "";
	}
	#voices #voicesImg img{
		z-index: 2;
		position: relative;
		margin-bottom: -75px
		width: 300px;
		top: 58px;
		bottom: 0;
	}

/***********************************************************************
#cost
***********************************************************************/

	#cost .threecol{
		padding: 36px 0;
		font-size:16px;
	}

	/* #cost #howto
	*******************************************************************/

	/* .content*/
	#cost #howto .content{
position: relative;
}

	#cost #howto .content p {
    	vertical-align: middle;
		text-align:center;
	}

	/* .eqat*/
	#cost #howto .eqat{
	/*display: table-cell;*/
	width: 120px;
	border-top: 1px solid #d3d3d4;
	border-bottom: 1px solid #d3d3d4;
	border-left: 1px solid #d3d3d4;
	border-right: 1px solid #d3d3d4;
	}
	#cost #howto .box{
	display: block;
	position: relative;
	bottom: 0;
	height: 80px;
	vertical-align: middle;
	}
	

		#cost #howto #event:before{
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			left: 52.5px;
			margin-top: -40px;
			border: 20px solid transparent;
			border-bottom-color: #002949;
			content: "";
		}

	/* #cost $costTableGnr
	*******************************************************************/

		#cost th,
		#cost td{
			width: 25%;
			vertical-align: middle;
		}
		.table_title{
	width: 25%;
	vertical-align: middle;
	padding: 10px 0;
	border-right: solid 1px #FFFFFF;
		}
		#cost #bought h5{
			line-height: 30px;
		}
		#cost #bought dt:last-of-type h5{
			margin-top: 15px;
		}
		#cost #bought .footnote{
			margin-top: 15px;
		}
		.kaitori{
			margin-bottom:15px;}

/***********************************************************************
#corp
***********************************************************************/

	#corp th{
		width: 25%;
		vertical-align: middle;
		font-size:16px;
	}

/***********************************************************************
#serviceArea
***********************************************************************/

#serviceArea{

}

/***********************************************************************
.contact
***********************************************************************/


		.contact a#tel .btn{
			font-size: 36px;
		}
		.contact #openHour .block{
			display: inline !important;
			padding-right: 7.5px;
		}

.contact #cc{
			position: absolute;
			top: 0;
			bottom: 0;
}

		.contact #contactImg{
	position: absolute;
	bottom: -35px;
		}
		.contact #contactMsg{
			vertical-align: middle;
		}
		.contact #contactMsgImg{
	overflow: hidden;
	position: absolute;
	right: 70px;
		}

		.contact #campMsgImg{
	bottom: 0;
	overflow: hidden;
	position: absolute;
	right: -3px;
	top: 85px;
		}
		.contact #campMsg{
			vertical-align: middle;
		}
		
		#contactBnr{
			padding: 50px 0 35px;
			position:relative;
		}		
			#contactBnr #btns a{
				display: block;
				margin: 10px 0;
			}


a:link {color: #fff;
		text-decoration:none;  }
a:visited { color: #fff;
		text-decoration:none;  }
a:hover {color: #fff;
		text-decoration:none;  }
a:active { color: #fff;
		text-decoration:none;  }


/***********************************************************************
#legacy #contact
***********************************************************************/

#contact{
	margin: 0 auto;
	width: 740px;
}
	#contact h2{
		padding-top: 50px;
		font-weight: bold;
		font-size: 24px;
	}

	#contact .contents{
		display: block;
		padding: 30px 0;
	}
	#contact input,
	#contact textarea{
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		vertical-align: middle;
	}
	#contact input[type="text"],
	#contact input[type="email"]{
		min-width: 300px;
		padding: 10px;
		border: 1px solid #d3d3d4;
	}
	#contact input[type="radio"],
	#contact input[type="select"]{
		margin-left: 5px;
	}
	#contact select{
		padding: 10px;
		border: 1px solid #d3d3d4;
	}
	#contact label{
		display: inline-block;
		margin-left: 5px;
		height: 20px;
		line-height: 20px;
		vertical-align: middle;
	}
	#contact textarea{
		width: 100%;
		height: 200px;
		padding: 10px;
		border: 1px solid #d3d3d4;
	}
	#contact fieldset{
		display: block;
		margin: 20px 0 10px 0;
		padding: 30px 20px 20px 20px;
		
		background: #ffffff;
		border: 1px solid #d3d3d4;
		
	}


	#contact #thanks{
		margin: 20px 0 100px 0;
		padding: 30px 20px 20px 20px;
		
		background: #ffffff;
		border: 1px solid #d3d3d4;
	}

	#contact .formContents{
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
		#contact .formTitle{
			font-weight: bold;
		}
			#contact .formTitle .requ{
				display: inline-block;
				margin-right: 0.5rem;
				padding: 0 0.5rem;
				font-size: 80%;
				background: #e2318c;
				color: #ffffff;
			}
		#contact .formElements li{
			display: inline-block;
			padding-right: 0.5rem;
		}
			#contact .formElements .formExample{
				margin: 0.5rem 0;
				line-height: 1.2em;
			}
			#contact .column .formTitle{
				display: inline-block;
				width: 300px;
				vertical-align: middle;
			}
			#contact .column .formElements{
				display: inline-block;
				vertical-align: middle;
			}

	#contact .lawDoc{
		overflow: auto;
		height: 100px;
		color: #232323;
		background: #f5f5f5;
		padding: 10px;
		margin: 10px 0;
		font-size: 90%;
	}
	#contact .lawDoc h3,
	#contact .lawDoc h4{
		margin: 0;
		font-size: 100%;
	}
	#contact .lawBtn{
		color: #e2318c;
	}
	#contact ::-moz-selection {
		background-color: #009ea1;
		color: #ffffff;
	}
	#contact ::selection {
		background-color: #009ea1;
		color: #ffffff;
	}
	#contact #response{
		color: #e2318c;
	}
	#contact .formBtns{
		margin-bottom: 30px;
		text-align: center;
	}
		#contact .formBtns input[type="submit"]{
			padding: 20px 35px;
			border: none;
			background: #e2318c;
			color: #ffffff;
			font-size: 18px;
			cursor: pointer;
		}
		#contact .formBtns input[type="submit"]:hover{
			background: #c3c3c4 !important;
		}


	/* .formTitle*/
	.formTitle{
		position: relative;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.formTitle:before{
		display: inline-block;
		margin-right: 5px;
		width: 40px;
		font-size: 90%;
		font-weight: normal;
		color: #ffffff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: center;
	}
	.required .formTitle:before{
		content: "必須";
		background: #e2318c;
	}
	.ok:before{
		background: #009ea1 !important;
		font-family: "icomoon";
		speak: none;
		content: "OK" !important;

	}
	#confirm .required .formTitle:before{
		background: #d3d3d4;
	}

.error{
	background: rgba(226, 49, 140, .1) !important;
	border: 1px solid rgba(226, 49, 140, .3) !important;	
}
.errorMsg{
	background: #e2318c;
	color: #ffffff;
}
.errorMsg:before{
	content: "\e0ff";
}
.correct{
	border: 1px solid rgba(14, 158, 161, .3) !important
	background: rgba(14, 158, 161, .1) !important;
}
.correctMsg{
	background: #009ea1;
	color: #ffffff;
}
.correctMsg:before{
	content: "\e105";
}
.focus{
	background: rgba(211, 211, 212, .1) !important;
	border: 1px solid rgba(211, 211, 212, 1) !important;
}

.msg{
	padding: 8p x;
	color: #fff;
	font-size: 90%;
	text-align: left;
}
.msg:before{
	display: inline;
	padding-right: 5px;
	font-family: "icomoon";
	speak: none;
}
input+.msg,
select+.msg{
	padding-left: 10px;
}


/* checked & disabled & selected*/
}
#confirm input[disabled]{
	border: 1px solid #d3d3d4 !important;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
    vertical-align: middle;
	line-height: normal;
}
#confirm input:checked+label{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background: rgba(226, 49, 140, .1);
	font-weight: bold;
}
#confirm select[disabled]{	
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 1px solid transparent;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
}
#confirm textarea:disabled{
	border: 1px solid transparent;
	background: rgba(226, 49, 140, .1);
	color: #000000;
	font-weight: bold;
    vertical-align: middle;
	line-height: normal;
}
#confirm #law{
	display: none;zz
}


/* formBtns
***********************************************************************/

.formBtns{
	text-align: center;
	margin: 0 auto;
}
	.formBtns li{
		display: inline-block;
		padding: 0 10px;	
	}
	.formBtns input[type="submit"]{
		position: relative;
		-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
		padding: 0.7em 1.0em 0.5em 1.0em;
		border: none;
		background: #009ea1;
		border-bottom: 3px solid #002949;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, .9);
		filter: dropshadow(color=#000000, offx=0, offy=0);
		cursor: pointer;
	}
	.formBtns input[type="submit"]:hover{
		background: rgba(0, 0, 0, .5) !important;
	}
	.formBtns li:last-child input[type="submit"]{
		background: #e2318c;
	}

	/* .contact a
	******************************************************************

	.contact .fourcol a{
		margin: 10px 0;

	}
		.contact .fourcol:nth-of-type(1){
			display: none;
		}
		.contact .fourcol a .block{
			display: inline;
		}
		.contact .fourcol:nth-of-type(2) a .block:after{
			content: "-";
		}
		.contact .fourcol a .btn{
			padding: 10px 0;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			font-size: 18px;
		}
		.contact .fourcol a .btn:before{
			margin-right: 0.3rem;
		}
*/



/***********************************************************************
1402 intro
********************************************************************** 


#intro{
	position: relative;
	background: url(../../../img/legacy/kaishu/lp/1402/intro_bg.gif) center top;
	text-align: center;
}
#intro img{
	display: block;
	margin: 0 auto;
}

	/* #intro #introText
	****************************************************************** 

	#intro #introText{
		position: relative;
		margin-top: 20px;
		color: #ffffff;
		text-align: center;
	}
		#intro #introText p:first-of-type{
			border-top: 1px solid rgba(255, 255, 255, .5);
			padding-top: 10px;
		}
		#intro #introText p:last-of-type{
			border-bottom: 1px solid rgba(255, 255, 255, .5);
			padding-bottom: 10px;
		}


	/* #intro .heart
	****************************************************************** 
	#intro .heart{
		position: absolute;
		width: 10px;
		height: 8px;
	}
		#intro .heart:before,
		#intro .heart:after{
			position: absolute;
			z-index: 1;
			content: "";
			width: 5px;
			height: 8px;
			-moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			background: #ffffff;
			-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				 -o-transform: rotate(-45deg);
					transform: rotate(-45deg);
			-webkit-transform-origin: 0 100%;
				-moz-transform-origin: 0 100%;
				-ms-transform-origin: 0 100%;
				 -o-transform-origin: 0 100%;
					transform-origin: 0 100%;

		}

		#intro .heart:after {
			left: 0;
			-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				 -o-transform: rotate(45deg);
					transform: rotate(45deg);
			-webkit-transform-origin: 100% 100%;
				-moz-transform-origin: 100% 100%;
				-ms-transform-origin: 100% 100%;
				 -o-transform-origin: 100% 100%;
					transform-origin :100% 100%;
		}
		#intro .heart#lefttop{
			left: 0;
			top: -2px;
		}
		#intro .heart#righttop{
			right: 0;
			top: -2px;
		}
		#intro .heart#leftbottom{
			left: 0;
			bottom: -5px;
		}
		#intro .heart#rightbottom{
			right: 0;
			bottom: -5px;
		}

	/* #intro #introPeri
	****************************************************************** 

	#intro #introPeriBg{
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		border-top-style: solid;
		border-top-color: rgba(55, 19, 0, .7);
		border-left-style: solid;
		border-left-color: transparent;
	}
	#intro #introPeri p{
		position: absolute;
		-webkit-transform: rotate(49deg);
		-moz-transform: rotate(49deg);
		-ms-transform: rotate(49deg);
		-o-transform: rotate(49deg);
		color: #ffffff;
		text-align: center;
	}

@media only screen and (min-width: 768px){

	#intro{
		padding: 30px 0 60px 0;
	}
	#intro #introText{
		margin-left: 100px;
		margin-right: 100px;
		font-size: 24px;
		line-height: 1.5em;
	}
	#intro #introPeriBg{
		right: 10px;
		margin-top:	-30px;
		border-top-width: 186px;
		border-left-width: 170px;
	}
	#intro #introPeri p{
		position: absolute;
		top: -10px;
		right: 10px;
		font-size: 21px;
	}
}

@media only screen and (max-width: 767px){

	#intro{
		padding: 50px 0 60px 0;
	}
	#intro #introPeriBg{
		right: -10px;
		margin-top:	-50px;
		border-top-width: 126px;
		border-left-width: 110px;
	}
	#intro #introPeri p{
		position: absolute;
		top: -50px;
		right: -20px;
		font-size: 16px;
		line-height: 16px;
	}

}

#camp{
	padding: 0;
	background: url(../../../img/legacy/kaishu/lp/1402/camp_bg_orange.gif) center top;
	color: #ffffff;
}
#camp h3{
	padding: 10px 0;
	text-align: center;
	color: #002949;
}

	/* #intro #introCamp
	****************************************************************** 

	#camp #introCamp{
		background: url(../../../img/legacy/kaishu/lp/1402/camp_bg_darkblue.gif) center top;
		padding: 10px 0;
	}

		#camp #introCamp ol li:before{
			position: relative;
			z-index: 999;
		    height: 50px;
		    line-height: 50px;
		}
		#camp #introCamp ol li:nth-child(1):before{
			content: "1";
		}
		#camp #introCamp ol li:nth-child(2):before{
			content: "2";
		}
		#camp #introCamp ol li:nth-child(3):before{
			content: "3";
		}
		#camp #introCamp ol li:nth-child(4):before{
			content: "4";
		}
			#camp #introCamp ol li .step{
				z-index: 999;
			}
			#camp #introCamp ol li .step:before{
				position: absolute;
				line-height: 50px;
				right: 0;
				font-size: 24px;
				font-family: "icomoon";
				speak: none;
				z-index: 999;
			}
			#camp #introCamp ol li:first-child .step:before{
				content: "\e046  / \e16b";
			}
			#camp #introCamp ol li:nth-child(2) .step:before{
				content: "\e0b5";
			}
			#camp #introCamp ol li:nth-child(3) .step:before{
				content: "\e00f";
			}
			#camp #introCamp ol li:nth-child(4) .step:before{
				content: "\e0a3";
			}

	/* #camp .heart
	******************************************************************

	#camp .heart:before,
	#camp .heart:after {
		position: absolute;
		z-index: 1;
		content: "";
		left: 30px;
		top: 0;
		width: 30px;
		height: 50px;
		background: rgba(241, 91, 41, .8);
		-moz-border-radius: 30px 30px 0 0;
		border-radius: 30px 30px 0 0;
		-webkit-transform: rotate(-45deg);
			 -moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			 -o-transform: rotate(-45deg);
				transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
			 -moz-transform-origin: 0 100%;
			-ms-transform-origin: 0 100%;
			 -o-transform-origin: 0 100%;
				transform-origin: 0 100%;
	}
	#camp .heart:after {
		left: 0;
		-webkit-transform: rotate(45deg);
			 -moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
				transform: rotate(45deg);
		-webkit-transform-origin: 100% 100%;
			 -moz-transform-origin: 100% 100%;
			-ms-transform-origin: 100% 100%;
			 -o-transform-origin: 100% 100%;
				transform-origin :100% 100%;
	}


@media only screen and (min-width: 768px){

	#camp h3{
		font-size: 24px;
		line-height: 36px;
	}
	#camp .heart{
		width: 60px;
		height: 50px;
		display: block;
		position: absolute;
		z-index: 1;
		top: 15px;
		left: 50%;
		margin-left: -30px;
	}

	#camp #introCamp{
		text-align: center;
	}
	#camp #introCamp ol li{
		display: inline-block;
		position: relative;
		padding: 10px;
		min-width: 18%;
		letter-spacing: -0.05rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}
	#camp #introCamp ol li .step:before{
	  display: block;
	  position: relative;
	  font-size: 48px;
	  line-height: 48px;
	  margin: 0.5rem 0;
	  font-family: "icomoon";
	  speak: none;
	}

}

@media only screen and (max-width: 767px){

	#camp h3{
		font-size: 18px;
		line-height: 21px
	}
	#camp #introCamp ol li{
		display: block;
		position: relative;
		padding: 0.5rem 0;
		font-size: 18px;
	}
	#camp #introCamp ol li:before{
		width: 60px;
		display: inline-block;
		text-align: center;
	}
		
	#camp #introCamp .step{
		margin-left: 10px;
	}
	#camp #introCamp .heart{
		position: absolute;
    	top: 5px;
		left: 0px;
	}
    

}
*/


/* **********************************************************************
#newbrowser
********************************************************************** */

#newbrowser{
	padding: 2.0rem;
	background: #e2318c;
	color: #ffffff;
	text-align: center;
}
#newbrowser li{
	display: inline-block;
	position: relative;
	margin: 0 0.5rem;
}
#newbrowser li:before{
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-left-color: #ffffff;
	content: "";
}
#newbrowser li a{
	display: block;
	padding-left: 1.0rem;
	border-bottom: 1px dotted;
}
#newbrowser li a:hover{
	border-bottom-style: solid;
}


.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
	visibility:hidden;
}
.clearfix{
	display: inline-block;
} 
/* Hides from IE Mac*/
* html .clearfix{
	height: 1%;
}
.clearfix{
	display:block;
}
/* End Hack*/ 
