@charset "UTF-8";

//**********************************************************************
//**********************************************************************
//
// _decoration.scss INDEX
//
//**********************************************************************
//**********************************************************************


sup, sub{
	position: relative;
	font-size: $smaller;
}

.al_r{ text-align: right !important; }
.al_l{ text-align: left !important; }
.al_c{ text-align: center !important; }

.alignleft{ float: left !important; }
.alignright{ float: right !important; }

.b{ font-weight: bold !important; }

.big{ font-size: 1.2em !important; }
.small{ font-size: 0.8em !important; }

.m0{ margin: 0 !important; }
.m0_r{ margin-right: 0rem !important; }
.m0_b{ margin-bottom: 0rem !important; }
.m2_b{ margin-bottom: 2.0rem !important; }
.m1_t{ margin-top: 1.0rem !important; }
.m2_t{ margin-top: 2.0rem !important; }

.green{ color: $green !important; }
.pink{ color: $pink !important; }
.orange{ color: $orange !important; }
.yellow{ color: $yellow !important; }
.gray{ color: $gray !important; }
.darkgray{ color: $darkGray !important; }
.white{ color: $white !important; }

.goodDesign{ color: #CD0300 !important; }
.privacyMark{ color: #04278b !important; }

.bg_green{ padding: 0.1rem; background: rgba($green, .2) !important; }
.bg_pink{ padding: 0.1rem; background: rgba($pink, .2) !important; }
.bg_white{ padding: 0.1rem; background: rgba($white, .2) !important; }
.bg_orange{ padding: 0.1rem; background: rgba($orange, .2) !important; }
.bg_yellow{ padding: 0.1rem; background: rgba($yellow, .2) !important; }

.underline{ text-decoration: underline; }

.block{ display: block !important; }
.hidden{ display: none !important; }

.footnote{
	margin: 0.5rem 0 !important;
	color: rgba($black, .7) !important;
	font-size: 80% !important;
	line-height: 1.2em !important;
}

.star{

	&:before{
		display: inline-block;
		vertical-align: middle;
		speak: none;
		line-height: 1;
		color: $yellow;
		font-family: "icomoon";
		font-size: $bigger;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.star1{ &:before{ content: "\e979 \e977 \e977 \e977 \e977"; } }
	&.star2{ &:before{ content: "\e979 \e979 \e977 \e977 \e977"; } }
	&.star3{ &:before{ content: "\e979 \e979 \e979 \e977 \e977"; } }
	&.star4{ &:before{ content: "\e979 \e979 \e979 \e979 \e977"; } }
	&.star5{ &:before{ content: "\e979 \e979 \e979 \e979 \e979"; } }

	.index{
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.3rem;
	}

}


blockquote{
	display: inline-block;
	position: relative;
	padding: 0.5rem 2.0rem;
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		color: $green;
		font-size: 48px;
		content: '“';
	}
	&:after{
		position: absolute;
		bottom: 0;
		right: 0;
		color: $green;
		font-size: 48px;
		content: '”';
	}
	&+p{
		margin-top: 0;
	}

}

img{
	&.alignleft{
		float: left;
		margin-right: 1.0rem;
		margin-bottom: 1.0rem;
	}
	&.alignright{ 
		float: right;
		margin-bottom: 1.0rem;
		margin-left: 1.0rem;
	}
	&.alignleft+p,
	&.alignright+p{
		margin-top: 0;
	}
	.al_c{
		display: block;
		margin: 0 auto;
	}
	.imgbnr{
		display: block;
		margin-bottom: 1.0rem;
		border: 1px solid #d3d3d4;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* PC & Tablet settings
	***********************************************************************/

	@media all and (min-width: $minWidth){

		img.alignleft{ 
			display: block !important;
			float: inherit !important;
			margin: 0.5rem auto !important;
		}
		img.alignright{ 
			display: block !important;
			float: inherit !important;
			margin: 0.5rem auto !important;
		}

	}

}